---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Varoxolotl - Portfolio">
  <section>
    <header class="h-screen overflow-clip grid grid-cols-1 gap-y-5 bg-background items-center">
      <div
        class="animate-fade-in-down [animation-timeline:view()] supports-no-scroll-driven-animations:animate-none mx-auto h-auto max-w-7x1"
      >
        <h1
          class="will-change-transform animate-slide-in-blurred-bottom-0 max-w-xl text-7xl text-text font-poppins font-bold"
        >
          Hi! My name is Varoxolotl!
        </h1>

        <h2
          class="animate-slide-in-blurred-bottom-1 max-w-7x1 text-3xl text-accent font-poppins font-bold"
        >
          Full-Stack Developer
        </h2>
      </div>
    </header>
  </section>

  <section>
    <header class="h-screen overflow-clip grid grid-cols-1 gap-y-5 bg-secondary items-center">
      <div
        class="animate-fade-in-down [animation-timeline:view()] supports-no-scroll-driven-animations:animate-none mx-auto h-auto max-w-7x1"
      >
        <h1 class="max-w-xl text-7xl text-text font-poppins font-bold">
          Hi! My name is Varoxolotl!
        </h1>
        <p class="max-w-7x1 text-3xl text-accent font-poppins font-bold">Full-Stack Developer</p>
      </div>
    </header>
  </section>

  <section>
    <header class="h-screen overflow-clip grid grid-cols-1 gap-y-5 bg-secondary items-center">
      <div
        class="animate-fade-in-down [animation-timeline:view()] supports-no-scroll-driven-animations:animate-none mx-auto h-auto max-w-7x1"
      >
        <h1 class="max-w-xl text-7xl text-text font-poppins font-bold">
          Hi! My name is Varoxolotl!
        </h1>
        <p class="max-w-7x1 text-3xl text-accent font-poppins font-bold">Full-Stack Developer</p>
      </div>
    </header>
  </section>
</Layout>

<style></style>
