---
import MainLayout from '../layouts/MainLayout.astro'
import Card from '../components/card.astro'
---

<MainLayout title="Varoxolotl - Portfolio">
    <svg
        width="354"
        height="699"
        viewBox="0 0 354 699"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-0 top-0 h-[70%] w-0 opacity-0 xl:w-1/4 xl:opacity-100 2xl:w-1/4 2xl:opacity-100">
        <path
            d="M344.742 246.038L344.24 245.542C332.808 234.248 314.274 234.25 302.843 245.545L297.929 250.4C286.497 261.696 267.964 261.697 256.532 250.403L256.03 249.907C244.597 238.613 226.063 238.614 214.632 249.909L170.314 293.7C158.744 305.132 139.986 305.132 128.416 293.7C116.846 282.268 116.846 263.733 128.416 252.3L193.916 187.579C205.347 176.284 205.347 157.97 193.915 146.676L193.413 146.181C181.981 134.886 163.447 134.887 152.016 146.182L7.87034 288.612C-3.6994 300.045 -22.4578 300.045 -34.0275 288.612C-45.5972 277.18 -45.5972 258.645 -34.0275 247.213L110.117 104.782C121.548 93.4869 121.548 75.1732 110.117 63.8781L109.615 63.3823C98.1827 52.0872 79.6487 52.0883 68.2177 63.3834L-261.715 389.397C-273.285 400.829 -273.285 419.364 -261.715 430.796C-250.145 442.229 -250.145 460.764 -261.715 472.196L-405.61 614.379C-417.179 625.811 -417.179 644.346 -405.61 655.779C-394.04 667.211 -375.281 667.211 -363.712 655.779L-219.817 513.595C-208.248 502.163 -189.489 502.163 -177.92 513.595C-166.35 525.027 -166.35 543.562 -177.92 554.995L-243.167 619.467C-254.737 630.899 -254.737 649.434 -243.167 660.866C-231.598 672.299 -212.839 672.299 -201.269 660.866L-157.199 617.32C-145.629 605.888 -126.871 605.888 -115.301 617.32C-103.732 628.752 -84.9731 628.752 -73.4034 617.32L-68.9864 612.955C-57.4167 601.523 -38.6584 601.523 -27.0886 612.955C-15.5189 624.388 3.23942 624.388 14.8092 612.955L344.746 286.942C356.173 275.647 356.173 257.333 344.742 246.038Z"
            fill="url(#paint0_linear_56_3)"></path>
        <path
            d="M-202.022 351.123C-190.709 362.301 -190.709 380.425 -202.022 391.605L-288.377 476.932C-299.69 488.11 -299.69 506.235 -288.377 517.414C-277.064 528.593 -277.064 546.717 -288.377 557.895L-306.493 575.797C-317.806 586.975 -317.806 605.099 -306.493 616.279C-295.18 627.458 -276.837 627.458 -265.524 616.279L25.6761 328.541C36.9891 317.362 36.9891 299.238 25.6761 288.058C14.363 276.88 14.363 258.756 25.6761 247.577L43.7915 229.677C55.1045 218.499 55.1045 200.375 43.7915 189.195C32.4784 178.016 32.4784 159.892 43.7915 148.714L130.146 63.3857C141.459 52.2071 141.459 34.0831 130.146 22.9045C118.833 11.726 100.491 11.726 89.1766 22.9045L40.7181 70.7871C29.405 81.9656 11.063 81.9656 -0.251249 70.7871C-11.5643 59.6085 -29.9063 59.6085 -41.2205 70.7871L-104.401 133.216C-115.714 144.395 -134.056 144.395 -145.37 133.216C-156.683 122.038 -156.683 103.914 -145.37 92.734L-120.085 67.749C-108.772 56.5705 -108.772 38.4465 -120.085 27.2668C-131.398 16.0882 -131.398 -2.03585 -120.085 -13.2155L-68.5538 -64.1338C-57.2408 -75.3123 -57.2408 -93.4364 -68.5538 -104.616C-79.8669 -115.795 -98.2089 -115.795 -109.522 -104.616L-161.053 -53.6979C-172.366 -42.5193 -190.708 -42.5193 -202.022 -53.6979C-213.335 -64.8764 -231.677 -64.8764 -242.99 -53.6979L-534.19 234.042C-545.503 245.22 -545.503 263.344 -534.19 274.523C-522.877 285.701 -504.535 285.701 -493.222 274.523L-441.691 223.605C-430.378 212.426 -412.036 212.426 -400.722 223.605C-389.409 234.783 -389.409 252.907 -400.722 264.087L-452.253 315.005C-463.566 326.184 -463.566 344.308 -452.253 355.487C-440.94 366.666 -440.94 384.79 -452.253 395.969L-477.538 420.953C-488.851 432.132 -488.851 450.256 -477.538 461.436C-466.225 472.614 -447.883 472.614 -436.57 461.436L-373.389 399.005C-362.076 387.827 -343.733 387.827 -332.42 399.005C-321.107 410.184 -302.765 410.184 -291.452 399.005L-242.994 351.123C-231.677 339.943 -213.335 339.943 -202.022 351.123Z"
            fill="url(#paint1_linear_56_3)"></path>
        <defs>
            <linearGradient
                id="paint0_linear_56_3"
                x1="-414.286"
                y1="362.176"
                x2="353.315"
                y2="362.176"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#3A0BC7"></stop>
                <stop offset="1" stop-color="#F190FC"></stop>
            </linearGradient>
            <linearGradient
                id="paint1_linear_56_3"
                x1="-542.675"
                y1="255.832"
                x2="138.631"
                y2="255.832"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#4B4BFA"></stop>
                <stop offset="1" stop-color="#F190FC"></stop>
            </linearGradient>
        </defs></svg
    >
    <svg
        viewBox="0 0 582 443"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute right-0 top-[-50px] w-full xl:right-0 xl:top-0 xl:w-1/3 2xl:right-0 2xl:top-0 2xl:w-1/3">
        <path
            d="M888.242 -9.9618L887.74 -10.4577C876.308 -21.7516 857.774 -21.7505 846.343 -10.4554L841.429 -5.59959C829.997 5.69551 811.464 5.69665 800.032 -5.59731L799.53 -6.09318C788.097 -17.3871 769.563 -17.386 758.132 -6.09089L713.814 37.7002C702.244 49.1324 683.486 49.1324 671.916 37.7002C660.346 26.268 660.346 7.73264 671.916 -3.69956L737.416 -68.4208C748.847 -79.7159 748.847 -98.0296 737.415 -109.324L736.913 -109.819C725.481 -121.114 706.947 -121.113 695.516 -109.818L551.37 32.6125C539.801 44.0447 521.042 44.0447 509.472 32.6125C497.903 21.1803 497.903 2.64493 509.472 -8.78727L653.617 -151.218C665.048 -162.513 665.048 -180.827 653.617 -192.122L653.115 -192.618C641.683 -203.913 623.149 -203.912 611.718 -192.617L281.785 133.397C270.215 144.829 270.215 163.364 281.785 174.796C293.355 186.229 293.355 204.764 281.785 216.196L137.89 358.379C126.321 369.811 126.321 388.346 137.89 399.779C149.46 411.211 168.219 411.211 179.788 399.779L323.683 257.595C335.252 246.163 354.011 246.163 365.58 257.595C377.15 269.027 377.15 287.562 365.58 298.995L300.333 363.467C288.763 374.899 288.763 393.434 300.333 404.866C311.902 416.299 330.661 416.299 342.231 404.866L386.301 361.32C397.871 349.888 416.629 349.888 428.199 361.32C439.768 372.752 458.527 372.752 470.097 361.32L474.514 356.955C486.083 345.523 504.842 345.523 516.411 356.955C527.981 368.388 546.739 368.388 558.309 356.955L888.246 30.9421C899.673 19.647 899.673 1.3333 888.242 -9.9618Z"
            fill="url(#paint0_linear_54_13)"></path>
        <path
            d="M341.478 95.1229C352.791 106.301 352.791 124.425 341.478 135.605L255.123 220.932C243.81 232.11 243.81 250.235 255.123 261.414C266.436 272.593 266.436 290.717 255.123 301.895L237.007 319.797C225.694 330.975 225.694 349.099 237.007 360.279C248.32 371.458 266.663 371.458 277.976 360.279L569.176 72.5406C580.489 61.3621 580.489 43.2381 569.176 32.0584C557.863 20.8798 557.863 2.75577 569.176 -8.42279L587.291 -26.3229C598.605 -37.5014 598.605 -55.6255 587.291 -66.8052C575.978 -77.9837 575.978 -96.1078 587.291 -107.286L673.646 -192.614C684.959 -203.793 684.959 -221.917 673.646 -233.095C662.333 -244.274 643.991 -244.274 632.677 -233.095L584.218 -185.213C572.905 -174.034 554.563 -174.034 543.249 -185.213C531.936 -196.392 513.594 -196.392 502.279 -185.213L439.099 -122.784C427.786 -111.605 409.444 -111.605 398.13 -122.784C386.817 -133.962 386.817 -152.086 398.13 -163.266L423.415 -188.251C434.728 -199.43 434.728 -217.554 423.415 -228.733C412.102 -239.912 412.102 -258.036 423.415 -269.216L474.946 -320.134C486.259 -331.312 486.259 -349.436 474.946 -360.616C463.633 -371.795 445.291 -371.795 433.978 -360.616L382.447 -309.698C371.134 -298.519 352.792 -298.519 341.478 -309.698C330.165 -320.876 311.823 -320.876 300.51 -309.698L9.30986 -21.9584C-2.00319 -10.7799 -2.00319 7.34417 9.30986 18.5227C20.6229 29.7013 38.965 29.7013 50.278 18.5227L101.809 -32.3955C113.122 -43.574 131.464 -43.574 142.778 -32.3955C154.091 -21.2169 154.091 -3.09289 142.778 8.08682L91.2473 59.005C79.9343 70.1836 79.9343 88.3076 91.2473 99.4874C102.56 110.666 102.56 128.79 91.2473 139.969L65.9618 164.953C54.6487 176.132 54.6487 194.256 65.9618 205.436C77.2748 216.614 95.6169 216.614 106.93 205.436L170.111 143.005C181.424 131.827 199.767 131.827 211.08 143.005C222.393 154.184 240.735 154.184 252.048 143.005L300.506 95.1229C311.823 83.9432 330.165 83.9432 341.478 95.1229Z"
            fill="url(#paint1_linear_54_13)"></path>
        <path
            d="M489.97 442.714C506.332 442.714 519.596 429.608 519.596 413.44C519.596 397.272 506.332 384.166 489.97 384.166C473.608 384.166 460.344 397.272 460.344 413.44C460.344 429.608 473.608 442.714 489.97 442.714Z"
            fill="url(#paint2_linear_54_13)"></path>
        <path
            d="M39.4611 270.805C55.8232 270.805 69.0872 257.698 69.0872 241.531C69.0872 225.363 55.8232 212.257 39.4611 212.257C23.099 212.257 9.83484 225.363 9.83484 241.531C9.83484 257.698 23.099 270.805 39.4611 270.805Z"
            fill="url(#paint3_linear_54_13)"></path>
        <defs>
            <linearGradient
                id="paint0_linear_54_13"
                x1="129.214"
                y1="106.176"
                x2="896.815"
                y2="106.176"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#3A0BC7"></stop>
                <stop offset="1" stop-color="#F190FC"></stop>
            </linearGradient>
            <linearGradient
                id="paint1_linear_54_13"
                x1="0.825189"
                y1="-0.16811"
                x2="682.131"
                y2="-0.16811"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#4B4BFA"></stop>
                <stop offset="1" stop-color="#F190FC"></stop>
            </linearGradient>
            <linearGradient
                id="paint2_linear_54_13"
                x1="460.344"
                y1="413.44"
                x2="519.596"
                y2="413.44"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#764BFA"></stop>
                <stop offset="1" stop-color="#F190FC"></stop>
            </linearGradient>
            <linearGradient
                id="paint3_linear_54_13"
                x1="9.83507"
                y1="241.531"
                x2="69.0871"
                y2="241.531"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#4B4BFA"></stop>
                <stop offset="1" stop-color="#F190FC"></stop>
            </linearGradient>
        </defs>
    </svg>

    <section class="flex h-screen">
        <main
            class="mx-auto my-auto animate-fade-in-down flex-row items-center [animation-timeline:view()] supports-no-scroll-driven-animations:animate-none">
            <header
                class="animate-slide-in-blurred-bottom-0 text-left text-4xl xl:text-5xl xl:leading-[1.15] 2xl:text-8xl 2xl:leading-[1.2]">
                <h1
                    class="super-vibes block bg-gradient-to-tr from-primary to-primary bg-clip-text text-transparent">
                    Hi! My name is
                </h1>

                <h1
                    class="super-vibes inline-block bg-gradient-to-b from-accent to-contrastAccent bg-clip-text text-transparent">
                    Varoxolotl
                </h1>
            </header>

            <footer class="animate-slide-in-blurred-bottom-1">
                <h2
                    class="relative h-[30px] overflow-hidden whitespace-nowrap text-xl xl:h-[35px] xl:text-3xl 2xl:h-[35px] 2xl:text-3xl">
                    <div
                        class="super-vibes absolute block animate-openclose overflow-hidden italic text-secondary">
                        <div
                            class="after:bg-Byzantine after:ml-1 after:inline-block after:h-[23px] after:w-[5px] after:animate-cursor-blink after:rounded-xl">
                            Full-Stack Developer
                        </div>
                        <div
                            class="after:bg-Byzantine after:ml-1 after:inline-block after:h-[23px] after:w-[5px] after:animate-cursor-blink after:rounded-xl">
                            Game Developer
                        </div>
                        <div
                            class="after:bg-Byzantine after:ml-1 after:inline-block after:h-[23px] after:w-[5px] after:animate-cursor-blink after:rounded-xl">
                            Tech Enthusiast
                        </div>
                    </div>
                </h2>
            </footer>
        </main>
    </section>

    <svg
        viewBox="0 0 691 1537"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute w-0 opacity-0 xl:right-[5%] xl:top-[65%] xl:w-1/2 xl:opacity-100 2xl:right-[5%] 2xl:top-[65%] 2xl:w-1/2 2xl:opacity-100">
        <path
            d="M71.2879 1926.5C72.3871 1911.03 83.3184 1854 84.4177 1830C85.5169 1806 91.2534 1776.1 90.5002 1761.5C89.747 1746.9 93.8793 1719.27 90.5002 1705C87.121 1690.73 89.8121 1677.27 84.4177 1663C79.0233 1648.73 78 1629.41 71.2879 1619C62.0461 1604.67 53.4283 1592.73 42.0002 1583C28.5 1571.5 19 1564 12.5002 1540C7.75843 1522.49 6.53493 1497.98 42.0002 1478C77.5002 1458 78.4696 1460.74 107.5 1446C140 1429.5 175 1403 162 1364C154.717 1342.15 139 1325.5 114.5 1279.5C86.0056 1226 84.4962 1229.06 70.5002 1202C56.5042 1174.94 35.9319 1140.98 43.0481 1096.94C49.5002 1057 106 1057 127 1024.5C140.625 1003.41 139.5 958 127 932C111.187 899.108 98.6679 876.218 81.8592 845.485L80.5003 843C60.5375 806.496 45.1167 782.781 51.181 738.281C56.1933 701.5 104.594 655 110.822 620.5C115.425 595 110.727 561.816 88.6865 530.5C82.0002 521 54.6333 465 47.9279 439.652C39.825 409.021 40.6225 400.629 41.9638 379.126C43.3051 357.623 44.3429 351.658 54.6334 332.138L54.923 331.588C62.3777 317.443 73.6207 296.109 93.4161 281.521C108.5 270.406 121.599 262.904 154.901 258.25C182 254.462 216.001 252.247 259.923 258.25C302 264 337.999 262.111 376.494 253.072C398.5 247.904 421.992 240.021 433 212.5C443 187.5 426.76 169.46 438.5 146.5C461 102.5 453.5 78.9051 453.5 67"
            stroke="url(#paint0_linear_54_55)"
            stroke-width="20"
            stroke-linecap="round"
            class="path animate-timeline [animation-timeline:view()] supports-no-scroll-driven-animations:animate-none"
            pathLength="1"></path>
        <path
            d="M499.229 20.5681C509.695 27.7403 518.833 35.9751 525.049 46.0694C531.265 56.2168 534.452 68.2237 534.24 80.1243C534.027 92.078 530.309 103.819 524.146 114.02C518.036 124.22 509.376 132.88 499.176 139.521C488.975 146.215 477.234 150.997 464.696 152.272C452.158 153.6 438.876 151.422 428.835 144.674C418.74 137.927 411.887 126.558 405.511 115.029C399.136 103.554 393.239 91.9186 392.176 79.6993C391.114 67.4268 394.939 54.623 401.474 43.413C408.062 32.2031 417.359 22.6401 428.463 15.8928C439.566 9.0925 452.529 5.10791 464.802 6.17047C477.128 7.28615 488.816 13.3958 499.229 20.5681Z"
            fill="url(#paint1_linear_54_55)"></path>
        <path
            d="M570.006 7.19385C571.18 7.19385 572.718 7.48438 574.62 8.06543C574.848 8.13379 575.031 8.16797 575.167 8.16797C575.281 8.16797 575.623 8.06543 576.193 7.86035C576.375 7.79199 576.569 7.75781 576.774 7.75781C577.537 7.75781 578.34 8.36165 579.183 9.56934C580.038 10.777 580.465 11.9277 580.465 13.0215C580.465 13.6595 580.271 14.2007 579.884 14.645C579.508 15.078 579.047 15.2944 578.5 15.2944C578.044 15.2944 577.674 15.2033 577.389 15.021C577.104 14.8387 576.477 14.2975 575.509 13.3975C574.142 12.1214 572.797 11.4834 571.476 11.4834C570.838 11.4834 570.325 11.6372 569.938 11.9448C569.562 12.2524 569.374 12.6569 569.374 13.1582C569.374 14.1494 570.245 14.8957 571.989 15.397C574.347 16.092 575.857 16.599 576.517 16.918C579.423 18.3307 580.875 20.41 580.875 23.1558C580.875 25.5825 579.884 27.5649 577.902 29.103C575.874 30.6753 573.225 31.4614 569.955 31.4614C568.497 31.4614 566.958 31.2905 565.341 30.9487C563.723 30.5955 562.555 30.1854 561.837 29.7183C561.29 29.3537 560.795 28.5618 560.35 27.3428C559.917 26.1123 559.701 24.916 559.701 23.7539C559.701 23.1956 559.815 22.7741 560.043 22.4893C560.328 22.1247 560.686 21.9424 561.119 21.9424C561.552 21.9424 561.968 22.1646 562.367 22.6089C562.606 22.8595 563.17 23.6628 564.059 25.0186C564.48 25.6566 565.147 26.1864 566.058 26.6079C566.981 27.0295 567.933 27.2402 568.912 27.2402C569.755 27.2402 570.439 27.0864 570.963 26.7788C571.487 26.4598 571.749 26.0553 571.749 25.5654C571.749 25.1097 571.544 24.7166 571.134 24.3862C570.724 24.0558 570.057 23.7482 569.135 23.4634C567.505 22.9507 566.263 22.4836 565.409 22.062C564.554 21.6291 563.757 21.0879 563.016 20.4385C561.216 18.8434 560.316 17.0319 560.316 15.0039C560.316 14.0013 560.55 13.0272 561.017 12.0815C561.484 11.1245 562.145 10.2985 562.999 9.60352C564.913 7.99707 567.249 7.19385 570.006 7.19385ZM592.36 18.4561V24.2324C592.36 24.916 592.525 25.4743 592.855 25.9072C593.197 26.3402 593.63 26.5566 594.154 26.5566C594.598 26.5566 595.185 26.3516 595.914 25.9414C596.085 25.8389 596.256 25.7876 596.427 25.7876C596.7 25.7876 596.951 25.9528 597.179 26.2832C597.407 26.6136 597.521 26.9725 597.521 27.3599C597.521 28.0662 597.133 28.7441 596.359 29.3936C594.741 30.7721 592.781 31.4614 590.48 31.4614C588.657 31.4614 587.193 30.9487 586.088 29.9233C584.983 28.8866 584.43 27.5251 584.43 25.8389V17.9434C584.43 17.6813 584.396 17.5218 584.327 17.4648C584.27 17.3965 584.111 17.3623 583.849 17.3623H582.089C581.758 17.3623 581.547 17.311 581.456 17.2085C581.365 17.0946 581.32 16.8382 581.32 16.4395V15.6875C581.331 15.3457 581.462 15.0951 581.713 14.9355L589.54 10.0137C589.733 9.91113 589.973 9.85986 590.258 9.85986L591.642 9.85986C591.927 9.85986 592.115 9.92822 592.206 10.0649C592.308 10.1903 592.36 10.4466 592.36 10.834V13.1411C592.36 13.4829 592.411 13.7051 592.513 13.8076C592.627 13.9102 592.861 13.9614 593.214 13.9614H596.376C596.797 13.9614 597.071 14.0412 597.196 14.2007C597.321 14.3488 597.384 14.6735 597.384 15.1748V16.1831C597.384 16.73 597.304 17.1117 597.145 17.3281C596.985 17.5332 596.695 17.6357 596.273 17.6357H593.18C592.861 17.6357 592.644 17.6927 592.531 17.8066C592.417 17.9206 592.36 18.137 592.36 18.4561ZM608.373 13.9614C610.355 13.9614 612.036 14.4627 613.414 15.4653C614.143 16.0008 614.65 16.616 614.935 17.311C615.232 17.9946 615.38 18.9403 615.38 20.1479L615.345 22.6943C615.345 24.4603 615.471 25.6053 615.721 26.1294C615.847 26.38 615.966 26.5396 616.08 26.6079C616.194 26.6763 616.434 26.7389 616.798 26.7959C617.163 26.8529 617.345 27.0921 617.345 27.5137C617.345 28.0605 617.123 28.6302 616.678 29.2227C616.246 29.8151 615.682 30.3107 614.987 30.7095C614.132 31.2108 613.238 31.4614 612.303 31.4614C611.107 31.4614 610.162 31.0513 609.467 30.231C609.227 29.9347 609.005 29.7866 608.8 29.7866C608.572 29.7866 608.27 29.929 607.894 30.2139C606.755 31.0456 605.462 31.4614 604.015 31.4614C602.522 31.4614 601.315 31.1424 600.392 30.5044C599.788 30.0828 599.309 29.536 598.956 28.8638C598.603 28.1802 598.427 27.4681 598.427 26.7275C598.427 25.5426 598.905 24.4945 599.862 23.583C601.355 22.1475 603.588 21.424 606.561 21.4126C607.222 21.4126 607.638 21.3499 607.809 21.2246C607.98 21.0879 608.065 20.7803 608.065 20.3018C608.065 19.0941 607.94 18.2225 607.689 17.687C607.439 17.1401 607.028 16.8667 606.459 16.8667C606.117 16.8667 605.809 16.9692 605.536 17.1743C605.274 17.3794 604.943 17.7554 604.545 18.3022C603.531 19.7492 602.471 20.4727 601.366 20.4727C600.808 20.4727 600.352 20.3075 599.999 19.9771C599.646 19.6466 599.469 19.2137 599.469 18.6782C599.469 18.1313 599.685 17.5845 600.118 17.0376C600.563 16.4907 601.161 16.0122 601.913 15.6021C603.975 14.5083 606.128 13.9614 608.373 13.9614ZM607.228 23.8564C606.726 23.8564 606.288 24.0615 605.912 24.4717C605.547 24.8818 605.365 25.3717 605.365 25.9414C605.365 26.4883 605.496 26.9326 605.758 27.2744C606.02 27.6048 606.368 27.77 606.801 27.77C607.712 27.77 608.168 27.001 608.168 25.4629C608.168 24.8363 608.099 24.4147 607.963 24.1982C607.837 23.9818 607.592 23.8678 607.228 23.8564ZM626.454 14.0811C627.058 14.0811 627.422 14.1665 627.548 14.3374C627.684 14.5083 627.804 15.0552 627.906 15.978C627.963 16.4793 628.14 16.73 628.436 16.73C628.664 16.73 628.881 16.5648 629.086 16.2344C629.997 14.8102 631.188 14.0981 632.657 14.0981C633.694 14.0981 634.543 14.4342 635.204 15.1064C635.523 15.4368 635.785 15.8641 635.99 16.3882C636.195 16.9009 636.298 17.3965 636.298 17.875C636.298 18.4105 636.172 18.9631 635.922 19.5327C635.671 20.091 635.346 20.5524 634.948 20.917C634.218 21.612 633.324 21.9595 632.264 21.9595C631.683 21.9595 631.193 21.8569 630.795 21.6519C630.407 21.4468 629.895 21.0309 629.257 20.4043C629.017 20.165 628.795 20.0454 628.59 20.0454C628.271 20.0454 628.06 20.2277 627.958 20.5923C627.867 20.9455 627.821 21.6974 627.821 22.8481C627.821 24.5685 627.884 25.742 628.009 26.3687C628.089 26.7104 628.197 26.9497 628.334 27.0864C628.482 27.2118 628.789 27.3428 629.257 27.4795C630.282 27.7871 630.795 28.3226 630.795 29.0859C630.795 29.5531 630.629 29.9632 630.299 30.3164C629.969 30.6582 629.53 30.8861 628.983 31C627.889 31.2279 626.283 31.3418 624.164 31.3418C622.147 31.3418 620.615 31.1652 619.567 30.812C618.632 30.493 618.165 29.9404 618.165 29.1543C618.165 28.5618 618.507 28.0321 619.191 27.5649C619.521 27.3485 619.749 27.1548 619.874 26.9839C620 26.8016 620.085 26.5566 620.131 26.249C620.313 25.2122 620.404 23.2925 620.404 20.4897C620.404 19.9771 620.347 19.6125 620.233 19.396C620.119 19.1681 619.891 18.9858 619.55 18.8491C618.741 18.5301 618.336 18.0687 618.336 17.4648C618.336 16.918 618.615 16.4508 619.174 16.0635C619.732 15.6647 620.666 15.2716 621.976 14.8843C623.731 14.3602 625.223 14.0924 626.454 14.0811ZM647.867 18.4561V24.2324C647.867 24.916 648.033 25.4743 648.363 25.9072C648.705 26.3402 649.138 26.5566 649.662 26.5566C650.106 26.5566 650.693 26.3516 651.422 25.9414C651.593 25.8389 651.764 25.7876 651.935 25.7876C652.208 25.7876 652.459 25.9528 652.687 26.2832C652.915 26.6136 653.029 26.9725 653.029 27.3599C653.029 28.0662 652.641 28.7441 651.866 29.3936C650.249 30.7721 648.289 31.4614 645.988 31.4614C644.165 31.4614 642.701 30.9487 641.595 29.9233C640.49 28.8866 639.938 27.5251 639.938 25.8389V17.9434C639.938 17.6813 639.904 17.5218 639.835 17.4648C639.778 17.3965 639.619 17.3623 639.357 17.3623H637.596C637.266 17.3623 637.055 17.311 636.964 17.2085C636.873 17.0946 636.827 16.8382 636.827 16.4395V15.6875C636.839 15.3457 636.97 15.0951 637.22 14.9355L645.048 10.0137C645.241 9.91113 645.481 9.85986 645.765 9.85986H647.15C647.434 9.85986 647.622 9.92822 647.714 10.0649C647.816 10.1903 647.867 10.4466 647.867 10.834V13.1411C647.867 13.4829 647.919 13.7051 648.021 13.8076C648.135 13.9102 648.369 13.9614 648.722 13.9614H651.884C652.305 13.9614 652.579 14.0412 652.704 14.2007C652.829 14.3488 652.892 14.6735 652.892 15.1748V16.1831C652.892 16.73 652.812 17.1117 652.653 17.3281C652.493 17.5332 652.203 17.6357 651.781 17.6357H648.688C648.369 17.6357 648.152 17.6927 648.038 17.8066C647.924 17.9206 647.867 18.137 647.867 18.4561ZM655.216 28.8638L661.385 14.7988C661.545 14.4001 661.699 14.007 661.847 13.6196C661.949 13.3576 662.058 13.0898 662.172 12.8164C662.274 12.5544 662.536 11.9163 662.958 10.9023C663.311 10.0592 663.579 9.38704 663.761 8.88574C663.977 8.25911 664.205 7.84326 664.445 7.63818C664.695 7.42171 665.071 7.31348 665.573 7.31348C667.464 7.31348 668.409 7.76351 668.409 8.66357C668.409 9.05094 668.267 9.51237 667.982 10.0479C666.661 12.6113 665.675 14.6507 665.026 16.166L658.873 30.1797C658.019 32.1051 657.455 33.4438 657.181 34.1958C656.6 35.7339 656.196 36.6624 655.968 36.9814C655.638 37.4258 655.159 37.6479 654.532 37.6479C653.781 37.6479 653.142 37.5055 652.618 37.2207C652.094 36.9359 651.832 36.5941 651.832 36.1953C651.832 35.9333 651.884 35.6826 651.986 35.4434C652.077 35.2155 652.425 34.5205 653.029 33.3584C654.008 31.4671 654.738 29.9689 655.216 28.8638ZM670.939 31.0342V23.4292L678.031 19.1055L670.99 14.7817L670.939 7.22803L686.115 15.9609V22.3184L670.939 31.0342Z"
            fill="#3C0CC7"></path>
        <defs>
            <linearGradient
                id="paint0_linear_54_55"
                x1="290.196"
                y1="1247.5"
                x2="266.313"
                y2="86.9091"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F190FC"></stop>
                <stop offset="1" stop-color="#A155E4"></stop>
            </linearGradient>
            <linearGradient
                id="paint1_linear_54_55"
                x1="463.125"
                y1="6"
                x2="463.125"
                y2="152.642"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#6228D3"></stop>
                <stop offset="1" stop-color="#A155E4"></stop>
            </linearGradient>
        </defs>
    </svg>

    <svg
        viewBox="0 0 691 2742"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute bottom-0 top-[75%] w-full opacity-100 xl:w-0 xl:opacity-0 2xl:w-0 2xl:opacity-0">
        <path
            d="M318.331 2712C319.433 2688.08 330.384 2599.92 331.486 2562.82C332.587 2525.72 338.334 2479.49 337.58 2456.92C336.825 2434.35 340.965 2391.64 337.58 2369.58C334.194 2347.52 336.89 2326.71 331.486 2304.65C326.081 2282.59 325.056 2252.72 318.331 2236.63C309.072 2214.48 300.438 2196.02 288.989 2180.98C275.463 2163.2 265.946 2151.61 259.434 2114.5C254.683 2087.43 253.457 2049.54 288.989 2018.66C324.555 1987.74 325.526 1991.97 354.611 1969.19C387.172 1943.68 422.237 1902.71 409.213 1842.42C401.916 1808.64 386.17 1782.9 361.624 1711.79C333.077 1629.09 331.564 1633.82 317.542 1591.98C303.52 1550.15 282.909 1497.65 290.039 1429.57C296.503 1367.83 353.108 1367.83 374.148 1317.58C387.798 1284.98 386.671 1214.78 374.148 1174.59C358.305 1123.74 345.763 1088.35 328.922 1040.84L327.561 1037C307.561 980.567 292.111 943.906 298.187 875.113C303.208 818.252 351.7 746.367 357.939 693.033C362.551 653.612 357.844 602.313 335.762 553.901C329.064 539.215 301.646 452.643 294.928 413.457C286.81 366.104 287.609 353.131 288.952 319.889C290.296 286.647 291.336 277.426 301.646 247.25L301.936 246.399C309.404 224.532 320.668 191.552 340.501 169"
            stroke="url(#paint0_linear_139_3)"
            stroke-width="20"
            stroke-linecap="round"
            class="path animate-timeline [animation-timeline:view()] supports-no-scroll-driven-animations:animate-none"
            pathLength="1"></path>
        <path
            d="M400.158 53.5681C410.624 60.7403 419.762 68.9751 425.978 79.0694C432.194 89.2168 435.381 101.224 435.169 113.124C434.956 125.078 431.238 136.819 425.075 147.02C418.965 157.22 410.305 165.88 400.105 172.521C389.904 179.215 378.163 183.997 365.625 185.272C353.087 186.6 339.805 184.422 329.764 177.674C319.669 170.927 312.816 159.558 306.44 148.029C300.065 136.554 294.168 124.919 293.105 112.699C292.043 100.427 295.868 87.623 302.403 76.413C308.991 65.2031 318.288 55.6401 329.392 48.8928C340.495 42.0925 353.458 38.1079 365.731 39.1704C378.057 40.2861 389.745 46.3958 400.158 53.5681Z"
            fill="url(#paint1_linear_139_3)"></path>
        <path
            d="M471.305 9C472.479 9 474.017 9.29053 475.919 9.87158C476.147 9.93994 476.33 9.97412 476.466 9.97412C476.58 9.97412 476.922 9.87158 477.492 9.6665C477.674 9.59814 477.868 9.56396 478.073 9.56396C478.836 9.56396 479.639 10.1678 480.482 11.3755C481.337 12.5831 481.764 13.7338 481.764 14.8276C481.764 15.4656 481.57 16.0069 481.183 16.4512C480.807 16.8842 480.346 17.1005 479.799 17.1005C479.343 17.1005 478.973 17.0094 478.688 16.8271C478.403 16.6448 477.776 16.1036 476.808 15.2036C475.441 13.9275 474.096 13.2896 472.775 13.2896C472.137 13.2896 471.624 13.4434 471.237 13.751C470.861 14.0586 470.673 14.4631 470.673 14.9644C470.673 15.9556 471.544 16.7018 473.288 17.2031C475.646 17.8981 477.156 18.4051 477.816 18.7241C480.722 20.1368 482.174 22.2162 482.174 24.962C482.174 27.3887 481.183 29.3711 479.201 30.9092C477.173 32.4815 474.524 33.2675 471.254 33.2675C469.796 33.2675 468.257 33.0967 466.64 32.7549C465.022 32.4017 463.854 31.9916 463.136 31.5245C462.589 31.1599 462.094 30.368 461.649 29.149C461.216 27.9185 461 26.7222 461 25.5601C461 25.0018 461.114 24.5803 461.342 24.2955C461.627 23.9309 461.985 23.7486 462.418 23.7486C462.851 23.7486 463.267 23.9708 463.666 24.4151C463.905 24.6657 464.469 25.469 465.358 26.8248C465.779 27.4628 466.446 27.9926 467.357 28.4141C468.28 28.8357 469.232 29.0464 470.211 29.0464C471.054 29.0464 471.738 28.8925 472.262 28.5849C472.786 28.2659 473.048 27.8614 473.048 27.3715C473.048 26.9158 472.843 26.5228 472.433 26.1924C472.023 25.862 471.356 25.5544 470.434 25.2696C468.804 24.7569 467.562 24.2898 466.708 23.8682C465.853 23.4353 465.056 22.894 464.315 22.2446C462.515 20.6495 461.615 18.838 461.615 16.81C461.615 15.8074 461.849 14.8334 462.316 13.8877C462.783 12.9306 463.444 12.1047 464.298 11.4097C466.212 9.80322 468.548 9 471.305 9ZM493.659 20.2623V26.0386C493.659 26.7222 493.824 27.2805 494.154 27.7134C494.496 28.1464 494.929 28.3628 495.453 28.3628C495.897 28.3628 496.484 28.1578 497.213 27.7476C497.384 27.6451 497.555 27.5938 497.726 27.5938C497.999 27.5938 498.25 27.7589 498.478 28.0893C498.706 28.4197 498.82 28.7786 498.82 29.166C498.82 29.8723 498.432 30.5503 497.658 31.1998C496.04 32.5783 494.08 33.2675 491.779 33.2675C489.956 33.2675 488.492 32.7549 487.387 31.7295C486.282 30.6928 485.729 29.3313 485.729 27.6451V19.7495C485.729 19.4874 485.695 19.328 485.626 19.271C485.569 19.2027 485.41 19.1685 485.148 19.1685H483.388C483.057 19.1685 482.846 19.1172 482.755 19.0147C482.664 18.9008 482.619 18.6444 482.619 18.2457V17.4937C482.63 17.1519 482.761 16.9013 483.012 16.7417L490.839 11.8198C491.032 11.7173 491.272 11.666 491.557 11.666H492.941C493.226 11.666 493.414 11.7344 493.505 11.8711C493.607 11.9965 493.659 12.2527 493.659 12.6401V14.9472C493.659 15.289 493.71 15.5112 493.812 15.6137C493.926 15.7163 494.16 15.7675 494.513 15.7675H497.675C498.096 15.7675 498.37 15.8473 498.495 16.0068C498.62 16.1549 498.683 16.4796 498.683 16.9809V17.9893C498.683 18.5362 498.603 18.9179 498.444 19.1343C498.284 19.3394 497.994 19.4419 497.572 19.4419H494.479C494.16 19.4419 493.943 19.4989 493.83 19.6128C493.716 19.7268 493.659 19.9432 493.659 20.2623ZM509.672 15.7675C511.654 15.7675 513.335 16.2689 514.713 17.2715C515.442 17.807 515.949 18.4222 516.234 19.1172C516.531 19.8008 516.679 20.7465 516.679 21.9541L516.644 24.5005C516.644 26.2665 516.77 27.4115 517.02 27.9356C517.146 28.1862 517.265 28.3458 517.379 28.4141C517.493 28.4825 517.733 28.5451 518.097 28.6021C518.462 28.6591 518.644 28.8983 518.644 29.3199C518.644 29.8667 518.422 30.4364 517.977 31.0289C517.545 31.6213 516.981 32.1168 516.286 32.5156C515.431 33.0169 514.537 33.2675 513.602 33.2675C512.406 33.2675 511.461 32.8575 510.766 32.0372C510.526 31.7409 510.304 31.5928 510.099 31.5928C509.871 31.5928 509.569 31.7352 509.193 32.0201C508.054 32.8518 506.761 33.2675 505.314 33.2675C503.821 33.2675 502.614 32.9486 501.691 32.3106C501.087 31.889 500.608 31.3422 500.255 30.67C499.902 29.9864 499.726 29.2743 499.726 28.5337C499.726 27.3488 500.204 26.3007 501.161 25.3892C502.654 23.9537 504.887 23.2302 507.86 23.2188C508.521 23.2188 508.937 23.1561 509.108 23.0308C509.279 22.8941 509.364 22.5865 509.364 22.108C509.364 20.9003 509.239 20.0287 508.988 19.4932C508.738 18.9463 508.327 18.6728 507.758 18.6728C507.416 18.6728 507.108 18.7753 506.835 18.9804C506.573 19.1855 506.242 19.5616 505.844 20.1084C504.83 21.5554 503.77 22.2789 502.665 22.2789C502.107 22.2789 501.651 22.1137 501.298 21.7833C500.945 21.4528 500.768 21.0199 500.768 20.4844C500.768 19.9375 500.984 19.3906 501.417 18.8438C501.862 18.2969 502.46 17.8184 503.212 17.4083C505.274 16.3145 507.427 15.7675 509.672 15.7675ZM508.527 25.6625C508.025 25.6625 507.587 25.8677 507.211 26.2779C506.846 26.688 506.664 27.1779 506.664 27.7476C506.664 28.2945 506.795 28.7388 507.057 29.0806C507.319 29.411 507.667 29.5762 508.1 29.5762C509.011 29.5762 509.467 28.8072 509.467 27.2691C509.467 26.6425 509.398 26.2209 509.262 26.0044C509.136 25.788 508.891 25.6739 508.527 25.6625ZM527.753 15.8873C528.357 15.8873 528.721 15.9727 528.847 16.1436C528.983 16.3145 529.103 16.8613 529.205 17.7841C529.262 18.2854 529.439 18.5361 529.735 18.5361C529.963 18.5361 530.18 18.371 530.385 18.0406C531.296 16.6164 532.487 15.9042 533.956 15.9042C534.993 15.9042 535.842 16.2403 536.503 16.9125C536.822 17.2429 537.084 17.6703 537.289 18.1944C537.494 18.7071 537.597 19.2027 537.597 19.6812C537.597 20.2167 537.471 20.7693 537.221 21.3389C536.97 21.8972 536.645 22.3586 536.247 22.7232C535.517 23.4182 534.623 23.7656 533.563 23.7656C532.982 23.7656 532.492 23.663 532.094 23.458C531.706 23.2529 531.194 22.8371 530.556 22.2105C530.316 21.9712 530.094 21.8516 529.889 21.8516C529.57 21.8516 529.359 22.0339 529.257 22.3985C529.166 22.7517 529.12 23.5036 529.12 24.6543C529.12 26.3747 529.183 27.5482 529.308 28.1749C529.388 28.5166 529.496 28.7558 529.633 28.8925C529.781 29.0179 530.088 29.149 530.556 29.2857C531.581 29.5933 532.094 30.1287 532.094 30.892C532.094 31.3592 531.928 31.7694 531.598 32.1226C531.268 32.4644 530.829 32.6923 530.282 32.8062C529.188 33.0341 527.582 33.148 525.463 33.148C523.446 33.148 521.914 32.9714 520.866 32.6182C519.931 32.2992 519.464 31.7466 519.464 30.9605C519.464 30.368 519.806 29.8382 520.49 29.371C520.82 29.1546 521.048 28.961 521.173 28.7901C521.299 28.6078 521.384 28.3628 521.43 28.0552C521.612 27.0184 521.703 25.0987 521.703 22.2959C521.703 21.7833 521.646 21.4187 521.532 21.2022C521.418 20.9743 521.19 20.792 520.849 20.6553C520.04 20.3363 519.635 19.8749 519.635 19.271C519.635 18.7242 519.914 18.2569 520.473 17.8696C521.031 17.4708 521.965 17.0778 523.275 16.6905C525.03 16.1664 526.522 15.8986 527.753 15.8873ZM549.166 20.2623V26.0386C549.166 26.7222 549.332 27.2805 549.662 27.7134C550.004 28.1464 550.437 28.3628 550.961 28.3628C551.405 28.3628 551.992 28.1578 552.721 27.7476C552.892 27.6451 553.063 27.5938 553.234 27.5938C553.507 27.5938 553.758 27.7589 553.986 28.0893C554.214 28.4197 554.328 28.7786 554.328 29.166C554.328 29.8723 553.94 30.5503 553.165 31.1998C551.548 32.5783 549.588 33.2675 547.287 33.2675C545.464 33.2675 544 32.7549 542.894 31.7295C541.789 30.6928 541.237 29.3313 541.237 27.6451V19.7495C541.237 19.4874 541.203 19.328 541.134 19.271C541.077 19.2027 540.918 19.1685 540.656 19.1685H538.895C538.565 19.1685 538.354 19.1172 538.263 19.0147C538.172 18.9008 538.126 18.6444 538.126 18.2457V17.4937C538.138 17.1519 538.269 16.9013 538.519 16.7417L546.347 11.8198C546.54 11.7173 546.78 11.666 547.064 11.666H548.449C548.733 11.666 548.921 11.7344 549.013 11.8711C549.115 11.9965 549.166 12.2527 549.166 12.6401V14.9472C549.166 15.289 549.218 15.5112 549.32 15.6137C549.434 15.7163 549.668 15.7675 550.021 15.7675H553.183C553.604 15.7675 553.878 15.8473 554.003 16.0068C554.128 16.1549 554.191 16.4796 554.191 16.9809V17.9893C554.191 18.5362 554.111 18.9179 553.952 19.1343C553.792 19.3394 553.502 19.4419 553.08 19.4419H549.987C549.668 19.4419 549.451 19.4989 549.337 19.6128C549.223 19.7268 549.166 19.9432 549.166 20.2623ZM556.515 30.67L562.684 16.605C562.844 16.2063 562.998 15.8132 563.146 15.4258C563.248 15.1638 563.357 14.8959 563.471 14.6225C563.573 14.3605 563.835 13.7224 564.257 12.7084C564.61 11.8653 564.878 11.1932 565.06 10.6919C565.276 10.0653 565.504 9.64941 565.744 9.44433C565.994 9.22786 566.37 9.11963 566.872 9.11963C568.763 9.11963 569.708 9.56966 569.708 10.4697C569.708 10.8571 569.566 11.3185 569.281 11.8541C567.96 14.4175 566.974 16.4569 566.325 17.9722L560.172 31.9859C559.318 33.9113 558.754 35.25 558.48 36.002C557.899 37.5401 557.495 38.4685 557.267 38.7875C556.937 39.2319 556.458 39.4541 555.831 39.4541C555.08 39.4541 554.441 39.3116 553.917 39.0268C553.393 38.742 553.131 38.4003 553.131 38.0015C553.131 37.7395 553.183 37.4888 553.285 37.2496C553.376 37.0217 553.724 36.3266 554.328 35.1645C555.307 33.2732 556.037 31.7751 556.515 30.67ZM572.238 32.8404V25.2353L579.33 20.9116L572.289 16.5879L572.238 9.03418L587.414 17.767V24.1245L572.238 32.8404Z"
            fill="#3C0CC7"></path>
        <defs>
            <linearGradient
                id="paint0_linear_139_3"
                x1="537.649"
                y1="1662.32"
                x2="480.712"
                y2="-130.806"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F190FC"></stop>
                <stop offset="1" stop-color="#A155E4"></stop>
            </linearGradient>
            <linearGradient
                id="paint1_linear_139_3"
                x1="720.23"
                y1="-107.102"
                x2="720.23"
                y2="39.5404"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#6228D3"></stop>
                <stop offset="1" stop-color="#A155E4"></stop>
            </linearGradient>
        </defs>
    </svg>

    <section>
        <div
            class="mx-auto h-[350px] w-[90%] flex-row flex-wrap xl:ml-16 xl:h-[350px] xl:w-1/3 2xl:ml-36 2xl:h-[550px] 2xl:w-1/3">
            <div class="blobs">
                <div class="w-[45%] mx-auto gif-animation group"> 
                    <div class="w-full gif-animation z-40">
                        <svg
                            viewBox="0 0 285 290"
                            fill="none"
                            class=""
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M250.247 42.2435C275.06 69.3471 285.597 108.415 284.974 146.745C284.294 185.132 272.341 222.782 247.584 248.695C222.771 274.608 185.155 288.67 146.293 289.918C107.43 291.108 67.3779 279.428 40.3554 253.515C13.333 227.602 -0.603141 187.514 0.0200186 148.049C0.586528 108.528 15.769 69.6306 42.7914 42.5271C69.7573 15.4235 108.62 0.0573298 147.539 0.000627873C186.458 -0.112776 225.491 15.14 250.247 42.2435Z" fill="#A155E4"/>
                        </svg>
                        <p class="super-vibes text-background mx-auto my-auto text-2xl">
                            <img
                            src="/varoxolotl-portfolio/assets/nosolosoftware.webp"
                            alt="{image_alt}"
                            width="255"
                            height="254"
                            class="w-[70%] rounded-2xl mx-auto mb-4"
                            />
                            No Solo Software
                        </p>
                    </div>
                        
                    <div class="w-full group-hover:ml-[75%] group-hover:mb-[65%] group-hover:duration-500 duration-500 group-hover:w-[40%] gif-animation">
                        <svg
                            viewBox="0 0 285 290"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="">
                            <path d="M250.247 42.2435C275.06 69.3471 285.597 108.415 284.974 146.745C284.294 185.132 272.341 222.782 247.584 248.695C222.771 274.608 185.155 288.67 146.293 289.918C107.43 291.108 67.3779 279.428 40.3554 253.515C13.333 227.602 -0.603141 187.514 0.0200186 148.049C0.586528 108.528 15.769 69.6306 42.7914 42.5271C69.7573 15.4235 108.62 0.0573298 147.539 0.000627873C186.458 -0.112776 225.491 15.14 250.247 42.2435Z" fill="#A155E4"/>
                        </svg>
                        <p class="super-vibes text-background mx-auto my-auto opacity-0 group-hover:opacity-100 group-hover:duration-100 duration-100 z-40">
                            2017 - 2018
                        </p>
                    </div>

                    <div class="w-full group-hover:ml-[300px] group-hover:mb-[-200px] group-hover:duration-500 duration-500 group-hover:w-[25%] gif-animation">
                        <svg
                            viewBox="0 0 285 290"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="">
                            <path d="M250.247 42.2435C275.06 69.3471 285.597 108.415 284.974 146.745C284.294 185.132 272.341 222.782 247.584 248.695C222.771 274.608 185.155 288.67 146.293 289.918C107.43 291.108 67.3779 279.428 40.3554 253.515C13.333 227.602 -0.603141 187.514 0.0200186 148.049C0.586528 108.528 15.769 69.6306 42.7914 42.5271C69.7573 15.4235 108.62 0.0573298 147.539 0.000627873C186.458 -0.112776 225.491 15.14 250.247 42.2435Z" fill="#A155E4"/>
                        </svg>
                    </div>

                    <div class="w-full group-hover:ml-[-50px] group-hover:mb-[-200px] group-hover:duration-500 duration-500 group-hover:w-[45%] gif-animation">
                        <svg
                            viewBox="0 0 285 290"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="">
                            <path d="M250.247 42.2435C275.06 69.3471 285.597 108.415 284.974 146.745C284.294 185.132 272.341 222.782 247.584 248.695C222.771 274.608 185.155 288.67 146.293 289.918C107.43 291.108 67.3779 279.428 40.3554 253.515C13.333 227.602 -0.603141 187.514 0.0200186 148.049C0.586528 108.528 15.769 69.6306 42.7914 42.5271C69.7573 15.4235 108.62 0.0573298 147.539 0.000627873C186.458 -0.112776 225.491 15.14 250.247 42.2435Z" fill="#A155E4"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="mx-auto h-[350px] w-[90%] flex-row flex-wrap xl:mr-16 xl:h-[350px] xl:w-1/3 2xl:mr-36 2xl:h-[550px] 2xl:w-1/3">
            <div class="blobs">
                <div class="w-[45%] mx-auto gif-animation group"> 
                    <div class="w-full gif-animation z-40">
                        <svg
                            viewBox="0 0 285 290"
                            fill="none"
                            class=""
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M250.247 42.2435C275.06 69.3471 285.597 108.415 284.974 146.745C284.294 185.132 272.341 222.782 247.584 248.695C222.771 274.608 185.155 288.67 146.293 289.918C107.43 291.108 67.3779 279.428 40.3554 253.515C13.333 227.602 -0.603141 187.514 0.0200186 148.049C0.586528 108.528 15.769 69.6306 42.7914 42.5271C69.7573 15.4235 108.62 0.0573298 147.539 0.000627873C186.458 -0.112776 225.491 15.14 250.247 42.2435Z" fill="#A155E4"/>
                        </svg>
                        <p class="super-vibes text-background mx-auto my-auto text-2xl">
                            <img
                            src="/varoxolotl-portfolio/assets/nosolosoftware.webp"
                            alt="{image_alt}"
                            width="255"
                            height="254"
                            class="w-[70%] rounded-2xl mx-auto mb-4"
                            />
                            No Solo Software
                        </p>
                    </div>
                        
                    <div class="w-full group-hover:ml-[300px] group-hover:mb-[200px] group-hover:duration-500 duration-500 group-hover:w-[35%] gif-animation">
                        <svg
                            viewBox="0 0 285 290"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="">
                            <path d="M250.247 42.2435C275.06 69.3471 285.597 108.415 284.974 146.745C284.294 185.132 272.341 222.782 247.584 248.695C222.771 274.608 185.155 288.67 146.293 289.918C107.43 291.108 67.3779 279.428 40.3554 253.515C13.333 227.602 -0.603141 187.514 0.0200186 148.049C0.586528 108.528 15.769 69.6306 42.7914 42.5271C69.7573 15.4235 108.62 0.0573298 147.539 0.000627873C186.458 -0.112776 225.491 15.14 250.247 42.2435Z" fill="#A155E4"/>
                        </svg>
                        <p class="super-vibes text-background mx-auto my-auto opacity-0 group-hover:opacity-100 group-hover:duration-100 duration-100 z-40">
                            2017 - 2018
                        </p>
                    </div>

                    <div class="w-full group-hover:ml-[300px] group-hover:mb-[-200px] group-hover:duration-500 duration-500 group-hover:w-[25%] gif-animation">
                        <svg
                            viewBox="0 0 285 290"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="">
                            <path d="M250.247 42.2435C275.06 69.3471 285.597 108.415 284.974 146.745C284.294 185.132 272.341 222.782 247.584 248.695C222.771 274.608 185.155 288.67 146.293 289.918C107.43 291.108 67.3779 279.428 40.3554 253.515C13.333 227.602 -0.603141 187.514 0.0200186 148.049C0.586528 108.528 15.769 69.6306 42.7914 42.5271C69.7573 15.4235 108.62 0.0573298 147.539 0.000627873C186.458 -0.112776 225.491 15.14 250.247 42.2435Z" fill="#A155E4"/>
                        </svg>
                    </div>

                    <div class="w-full group-hover:ml-[-50px] group-hover:mb-[-200px] group-hover:duration-500 duration-500 group-hover:w-[45%] gif-animation">
                        <svg
                            viewBox="0 0 285 290"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="">
                            <path d="M250.247 42.2435C275.06 69.3471 285.597 108.415 284.974 146.745C284.294 185.132 272.341 222.782 247.584 248.695C222.771 274.608 185.155 288.67 146.293 289.918C107.43 291.108 67.3779 279.428 40.3554 253.515C13.333 227.602 -0.603141 187.514 0.0200186 148.049C0.586528 108.528 15.769 69.6306 42.7914 42.5271C69.7573 15.4235 108.62 0.0573298 147.539 0.000627873C186.458 -0.112776 225.491 15.14 250.247 42.2435Z" fill="#A155E4"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="mx-auto h-[350px] w-[90%] flex-row flex-wrap xl:ml-16 xl:h-[350px] xl:w-1/3 2xl:ml-36 2xl:h-[550px] 2xl:w-1/3">
            <div class="blobs">
                <div class="w-[45%] mx-auto gif-animation group"> 
                    <div class="w-full gif-animation z-40">
                        <svg
                            viewBox="0 0 285 290"
                            fill="none"
                            class=""
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M250.247 42.2435C275.06 69.3471 285.597 108.415 284.974 146.745C284.294 185.132 272.341 222.782 247.584 248.695C222.771 274.608 185.155 288.67 146.293 289.918C107.43 291.108 67.3779 279.428 40.3554 253.515C13.333 227.602 -0.603141 187.514 0.0200186 148.049C0.586528 108.528 15.769 69.6306 42.7914 42.5271C69.7573 15.4235 108.62 0.0573298 147.539 0.000627873C186.458 -0.112776 225.491 15.14 250.247 42.2435Z" fill="#A155E4"/>
                        </svg>
                        <p class="super-vibes text-background mx-auto my-auto text-2xl">
                            <img
                            src="/varoxolotl-portfolio/assets/nosolosoftware.webp"
                            alt="{image_alt}"
                            width="255"
                            height="254"
                            class="w-[70%] rounded-2xl mx-auto mb-4"
                            />
                            No Solo Software
                        </p>
                    </div>
                        
                    <div class="w-full group-hover:ml-[300px] group-hover:mb-[200px] group-hover:duration-500 duration-500 group-hover:w-[35%] gif-animation">
                        <svg
                            viewBox="0 0 285 290"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="">
                            <path d="M250.247 42.2435C275.06 69.3471 285.597 108.415 284.974 146.745C284.294 185.132 272.341 222.782 247.584 248.695C222.771 274.608 185.155 288.67 146.293 289.918C107.43 291.108 67.3779 279.428 40.3554 253.515C13.333 227.602 -0.603141 187.514 0.0200186 148.049C0.586528 108.528 15.769 69.6306 42.7914 42.5271C69.7573 15.4235 108.62 0.0573298 147.539 0.000627873C186.458 -0.112776 225.491 15.14 250.247 42.2435Z" fill="#A155E4"/>
                        </svg>
                        <p class="super-vibes text-background mx-auto my-auto opacity-0 group-hover:opacity-100 group-hover:duration-100 duration-100 z-40">
                            2017 - 2018
                        </p>
                    </div>

                    <div class="w-full group-hover:ml-[300px] group-hover:mb-[-200px] group-hover:duration-500 duration-500 group-hover:w-[25%] gif-animation">
                        <svg
                            viewBox="0 0 285 290"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="">
                            <path d="M250.247 42.2435C275.06 69.3471 285.597 108.415 284.974 146.745C284.294 185.132 272.341 222.782 247.584 248.695C222.771 274.608 185.155 288.67 146.293 289.918C107.43 291.108 67.3779 279.428 40.3554 253.515C13.333 227.602 -0.603141 187.514 0.0200186 148.049C0.586528 108.528 15.769 69.6306 42.7914 42.5271C69.7573 15.4235 108.62 0.0573298 147.539 0.000627873C186.458 -0.112776 225.491 15.14 250.247 42.2435Z" fill="#A155E4"/>
                        </svg>
                    </div>

                    <div class="w-full group-hover:ml-[-50px] group-hover:mb-[-200px] group-hover:duration-500 duration-500 group-hover:w-[45%] gif-animation">
                        <svg
                            viewBox="0 0 285 290"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="">
                            <path d="M250.247 42.2435C275.06 69.3471 285.597 108.415 284.974 146.745C284.294 185.132 272.341 222.782 247.584 248.695C222.771 274.608 185.155 288.67 146.293 289.918C107.43 291.108 67.3779 279.428 40.3554 253.515C13.333 227.602 -0.603141 187.514 0.0200186 148.049C0.586528 108.528 15.769 69.6306 42.7914 42.5271C69.7573 15.4235 108.62 0.0573298 147.539 0.000627873C186.458 -0.112776 225.491 15.14 250.247 42.2435Z" fill="#A155E4"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>


        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo">
                    <feGaussianBlur
                        in="SourceGraphic"
                        stdDeviation="10"
                        result="blur"></feGaussianBlur>
                    <feColorMatrix
                        in="blur"
                        mode="matrix"
                        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                        result="goo"></feColorMatrix>
                    <feBlend in="SourceGraphic" in2="goo"></feBlend>
                </filter>
            </defs>
        </svg>
    </section>

    

    <div class="relative w-full">
        <svg
            width="1456"
            height="286"
            viewBox="0 0 1456 286"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="h-full w-full">
            <path
                d="M-3 0.640137L31.9017 9.68811C66.8033 18.8521 136.607 36.9481 206.085 54.5801C275.726 72.2121 344.88 89.1481 414.521 86.4801C484 83.8121 553.803 61.3081 623.282 44.9521C692.923 28.4801 762.077 18.0401 831.718 28.1321C901.197 38.1081 971 68.7321 1040.48 68.2681C1110.12 67.9201 1179.27 36.6001 1248.91 30.5681C1318.39 24.6521 1388.2 43.9081 1423.1 53.6521L1458 63.2801V287.16H1423.1C1388.2 287.16 1318.39 287.16 1248.91 287.16C1179.27 287.16 1110.12 287.16 1040.48 287.16C971 287.16 901.197 287.16 831.718 287.16C762.077 287.16 692.923 287.16 623.282 287.16C553.803 287.16 484 287.16 414.521 287.16C344.88 287.16 275.726 287.16 206.085 287.16C136.607 287.16 66.8033 287.16 31.9017 287.16H-3V0.640137Z"
                fill="#F190FC"></path>
            <path
                d="M-3 92.2802L31.9017 85.5522C66.8033 78.7082 136.607 65.2522 206.085 67.5722C275.726 69.8922 344.88 87.9882 414.521 99.5882C484 111.188 553.803 116.292 623.282 123.02C692.923 129.748 762.077 138.332 831.718 137.288C901.197 136.36 971 125.92 1040.48 111.652C1110.12 97.2682 1179.27 79.1722 1248.91 71.4002C1318.39 63.6282 1388.2 66.4122 1423.1 67.6882L1458 69.0802V287.16H1423.1C1388.2 287.16 1318.39 287.16 1248.91 287.16C1179.27 287.16 1110.12 287.16 1040.48 287.16C971 287.16 901.197 287.16 831.718 287.16C762.077 287.16 692.923 287.16 623.282 287.16C553.803 287.16 484 287.16 414.521 287.16C344.88 287.16 275.726 287.16 206.085 287.16C136.607 287.16 66.8033 287.16 31.9017 287.16H-3V92.2802Z"
                fill="#DF80F5"></path>
            <path
                d="M-3 168.84L31.9017 164.78C66.8033 160.72 136.607 152.6 206.085 153.412C275.726 154.108 344.88 163.852 414.521 165.128C484 166.52 553.803 159.56 623.282 151.44C692.923 143.32 762.077 134.04 831.718 127.66C901.197 121.28 971 117.8 1040.48 120.352C1110.12 122.788 1179.27 131.372 1248.91 129.168C1318.39 127.08 1388.2 114.32 1423.1 107.94L1458 101.56V287.16H1423.1C1388.2 287.16 1318.39 287.16 1248.91 287.16C1179.27 287.16 1110.12 287.16 1040.48 287.16C971 287.16 901.197 287.16 831.718 287.16C762.077 287.16 692.923 287.16 623.282 287.16C553.803 287.16 484 287.16 414.521 287.16C344.88 287.16 275.726 287.16 206.085 287.16C136.607 287.16 66.8033 287.16 31.9017 287.16H-3V168.84Z"
                fill="#CC71EF"></path>
            <path
                d="M-3 157.24L31.9017 166.288C66.8033 175.452 136.607 193.548 206.085 201.088C275.726 208.628 344.88 205.612 414.521 204.22C484 202.828 553.803 203.292 623.282 197.608C692.923 192.04 762.077 180.44 831.718 173.712C901.197 166.868 971 165.012 1040.48 172.9C1110.12 180.788 1179.27 198.652 1248.91 207.12C1318.39 215.588 1388.2 214.892 1423.1 214.428L1458 214.08V287.16H1423.1C1388.2 287.16 1318.39 287.16 1248.91 287.16C1179.27 287.16 1110.12 287.16 1040.48 287.16C971 287.16 901.197 287.16 831.718 287.16C762.077 287.16 692.923 287.16 623.282 287.16C553.803 287.16 484 287.16 414.521 287.16C344.88 287.16 275.726 287.16 206.085 287.16C136.607 287.16 66.8033 287.16 31.9017 287.16H-3V157.24Z"
                fill="#B763E9"></path>
            <path
                d="M-3 254.68L31.9017 249.228C66.8033 243.892 136.607 232.988 206.085 229.508C275.726 226.028 344.88 229.972 414.521 235.192C484 240.412 553.803 246.908 623.282 246.328C692.923 245.748 762.077 238.092 831.718 231.712C901.197 225.332 971 220.228 1040.48 220.692C1110.12 221.04 1179.27 226.84 1248.91 230.668C1318.39 234.612 1388.2 236.468 1423.1 237.512L1458 238.44V287.16H1423.1C1388.2 287.16 1318.39 287.16 1248.91 287.16C1179.27 287.16 1110.12 287.16 1040.48 287.16C971 287.16 901.197 287.16 831.718 287.16C762.077 287.16 692.923 287.16 623.282 287.16C553.803 287.16 484 287.16 414.521 287.16C344.88 287.16 275.726 287.16 206.085 287.16C136.607 287.16 66.8033 287.16 31.9017 287.16H-3V254.68Z"
                fill="#A155E4"></path>
        </svg>
    </div>

    <div class="relative w-full rotate-180">
        <svg
            width="1456"
            height="286"
            viewBox="0 0 1456 286"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="h-full w-full">
            <path
                d="M-3 0.640137L31.9017 9.68811C66.8033 18.8521 136.607 36.9481 206.085 54.5801C275.726 72.2121 344.88 89.1481 414.521 86.4801C484 83.8121 553.803 61.3081 623.282 44.9521C692.923 28.4801 762.077 18.0401 831.718 28.1321C901.197 38.1081 971 68.7321 1040.48 68.2681C1110.12 67.9201 1179.27 36.6001 1248.91 30.5681C1318.39 24.6521 1388.2 43.9081 1423.1 53.6521L1458 63.2801V287.16H1423.1C1388.2 287.16 1318.39 287.16 1248.91 287.16C1179.27 287.16 1110.12 287.16 1040.48 287.16C971 287.16 901.197 287.16 831.718 287.16C762.077 287.16 692.923 287.16 623.282 287.16C553.803 287.16 484 287.16 414.521 287.16C344.88 287.16 275.726 287.16 206.085 287.16C136.607 287.16 66.8033 287.16 31.9017 287.16H-3V0.640137Z"
                fill="#F190FC"></path>
            <path
                d="M-3 92.2802L31.9017 85.5522C66.8033 78.7082 136.607 65.2522 206.085 67.5722C275.726 69.8922 344.88 87.9882 414.521 99.5882C484 111.188 553.803 116.292 623.282 123.02C692.923 129.748 762.077 138.332 831.718 137.288C901.197 136.36 971 125.92 1040.48 111.652C1110.12 97.2682 1179.27 79.1722 1248.91 71.4002C1318.39 63.6282 1388.2 66.4122 1423.1 67.6882L1458 69.0802V287.16H1423.1C1388.2 287.16 1318.39 287.16 1248.91 287.16C1179.27 287.16 1110.12 287.16 1040.48 287.16C971 287.16 901.197 287.16 831.718 287.16C762.077 287.16 692.923 287.16 623.282 287.16C553.803 287.16 484 287.16 414.521 287.16C344.88 287.16 275.726 287.16 206.085 287.16C136.607 287.16 66.8033 287.16 31.9017 287.16H-3V92.2802Z"
                fill="#DF80F5"></path>
            <path
                d="M-3 168.84L31.9017 164.78C66.8033 160.72 136.607 152.6 206.085 153.412C275.726 154.108 344.88 163.852 414.521 165.128C484 166.52 553.803 159.56 623.282 151.44C692.923 143.32 762.077 134.04 831.718 127.66C901.197 121.28 971 117.8 1040.48 120.352C1110.12 122.788 1179.27 131.372 1248.91 129.168C1318.39 127.08 1388.2 114.32 1423.1 107.94L1458 101.56V287.16H1423.1C1388.2 287.16 1318.39 287.16 1248.91 287.16C1179.27 287.16 1110.12 287.16 1040.48 287.16C971 287.16 901.197 287.16 831.718 287.16C762.077 287.16 692.923 287.16 623.282 287.16C553.803 287.16 484 287.16 414.521 287.16C344.88 287.16 275.726 287.16 206.085 287.16C136.607 287.16 66.8033 287.16 31.9017 287.16H-3V168.84Z"
                fill="#CC71EF"></path>
            <path
                d="M-3 157.24L31.9017 166.288C66.8033 175.452 136.607 193.548 206.085 201.088C275.726 208.628 344.88 205.612 414.521 204.22C484 202.828 553.803 203.292 623.282 197.608C692.923 192.04 762.077 180.44 831.718 173.712C901.197 166.868 971 165.012 1040.48 172.9C1110.12 180.788 1179.27 198.652 1248.91 207.12C1318.39 215.588 1388.2 214.892 1423.1 214.428L1458 214.08V287.16H1423.1C1388.2 287.16 1318.39 287.16 1248.91 287.16C1179.27 287.16 1110.12 287.16 1040.48 287.16C971 287.16 901.197 287.16 831.718 287.16C762.077 287.16 692.923 287.16 623.282 287.16C553.803 287.16 484 287.16 414.521 287.16C344.88 287.16 275.726 287.16 206.085 287.16C136.607 287.16 66.8033 287.16 31.9017 287.16H-3V157.24Z"
                fill="#B763E9"></path>
            <path
                d="M-3 254.68L31.9017 249.228C66.8033 243.892 136.607 232.988 206.085 229.508C275.726 226.028 344.88 229.972 414.521 235.192C484 240.412 553.803 246.908 623.282 246.328C692.923 245.748 762.077 238.092 831.718 231.712C901.197 225.332 971 220.228 1040.48 220.692C1110.12 221.04 1179.27 226.84 1248.91 230.668C1318.39 234.612 1388.2 236.468 1423.1 237.512L1458 238.44V287.16H1423.1C1388.2 287.16 1318.39 287.16 1248.91 287.16C1179.27 287.16 1110.12 287.16 1040.48 287.16C971 287.16 901.197 287.16 831.718 287.16C762.077 287.16 692.923 287.16 623.282 287.16C553.803 287.16 484 287.16 414.521 287.16C344.88 287.16 275.726 287.16 206.085 287.16C136.607 287.16 66.8033 287.16 31.9017 287.16H-3V254.68Z"
                fill="#A155E4"></path>
        </svg>
    </div>

    <section>
        <div
            class="mx-auto h-[350px] w-[90%] flex-row flex-wrap xl:ml-16 xl:h-[350px] xl:w-1/3 2xl:ml-36 2xl:h-[550px] 2xl:w-1/3">
            <Card
                title="Remote Work"
                description="Web based game made in Godot Engine that started as a prototype to learn the engine."
                id="remote-work"
                image_src="remote_work_anim_0.png"
                gif_src="remote_work_anim.webp"
                image_alt="Cover Image for Remote Work project"
            />
        </div>
        <div
            class="mx-auto h-[350px] w-[90%] flex-row flex-wrap xl:mr-16 xl:h-[350px] xl:w-1/3 2xl:mr-36 2xl:h-[550px] 2xl:w-1/3">
            <Card
                title="Code Game"
                description="Web based game in Unity made as final project for higher school"
                id="code-game"
                image_src="code-game.png"
                gif_src="code-game.png"
                image_alt="Cover Image for Code Game project"
            />
        </div>
        <div
            class="mx-auto h-[350px] w-[90%] flex-row flex-wrap xl:ml-16 xl:h-[350px] xl:w-1/3 2xl:ml-36 2xl:h-[550px] 2xl:w-1/3">
            <Card
                title="Pseudoku green city"
                description="First game project finished. Winner of the first edition of the JamToday Crdoba."
                id="pseodoku-green-city"
                image_src="Pseudoku-green-city-removebg-preview.png"
                gif_src="Pseudoku-green-city-removebg-preview.png"
                image_alt="Cover Image for Pseudoku green city project"
            />
        </div>
    </section>
</MainLayout>

<style is:global>
    @font-face {
        font-family: 'SuperVibes';
        src: url('/varoxolotl-portfolio/fonts/CooperFiveOpti-Black.otf');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'NimbusSans';
        src: url('/varoxolotl-portfolio/fonts/NimbusSanL-Reg.otf');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'NimbusSans';
        src: url('/varoxolotl-portfolio/fonts/NimbusSanL-Bol.otf');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    .blobs {
        filter: url('#goo');
    }

    .super-vibes {
        font-family: 'SuperVibes', sans-serif;
    }

    .nimbus-sans {
        font-family: 'NimbusSans', sans-serif;
    }

    .clip-circle {
        clip-path: inset(
            0 0 0 round 24px
        ); /* OLD VALUE example: circle(245px, 140px, 50px); */
        /* Yep, even the new clip-path has deprecated stuff. */
    }

    .gif-animation {
        display: grid;
        align-items: center;
    }

    .gif-animation > * {
        grid-row: 1;
        grid-column: 1;
    }

    .path {
        stroke-dasharray: 1;
        stroke-dashoffset: 0;
    }

    html {
        scroll-behavior: smooth;
    }
</style>
