---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import Card from '../components/card.astro'
---

<Layout title="Varoxolotl - Portfolio">
    <svg
        width="354"
        height="699"
        viewBox="0 0 354 699"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-0 top-0 h-[70%] w-1/4">
        <path
            d="M344.742 246.038L344.24 245.542C332.808 234.248 314.274 234.25 302.843 245.545L297.929 250.4C286.497 261.696 267.964 261.697 256.532 250.403L256.03 249.907C244.597 238.613 226.063 238.614 214.632 249.909L170.314 293.7C158.744 305.132 139.986 305.132 128.416 293.7C116.846 282.268 116.846 263.733 128.416 252.3L193.916 187.579C205.347 176.284 205.347 157.97 193.915 146.676L193.413 146.181C181.981 134.886 163.447 134.887 152.016 146.182L7.87034 288.612C-3.6994 300.045 -22.4578 300.045 -34.0275 288.612C-45.5972 277.18 -45.5972 258.645 -34.0275 247.213L110.117 104.782C121.548 93.4869 121.548 75.1732 110.117 63.8781L109.615 63.3823C98.1827 52.0872 79.6487 52.0883 68.2177 63.3834L-261.715 389.397C-273.285 400.829 -273.285 419.364 -261.715 430.796C-250.145 442.229 -250.145 460.764 -261.715 472.196L-405.61 614.379C-417.179 625.811 -417.179 644.346 -405.61 655.779C-394.04 667.211 -375.281 667.211 -363.712 655.779L-219.817 513.595C-208.248 502.163 -189.489 502.163 -177.92 513.595C-166.35 525.027 -166.35 543.562 -177.92 554.995L-243.167 619.467C-254.737 630.899 -254.737 649.434 -243.167 660.866C-231.598 672.299 -212.839 672.299 -201.269 660.866L-157.199 617.32C-145.629 605.888 -126.871 605.888 -115.301 617.32C-103.732 628.752 -84.9731 628.752 -73.4034 617.32L-68.9864 612.955C-57.4167 601.523 -38.6584 601.523 -27.0886 612.955C-15.5189 624.388 3.23942 624.388 14.8092 612.955L344.746 286.942C356.173 275.647 356.173 257.333 344.742 246.038Z"
            fill="url(#paint0_linear_56_3)"></path>
        <path
            d="M-202.022 351.123C-190.709 362.301 -190.709 380.425 -202.022 391.605L-288.377 476.932C-299.69 488.11 -299.69 506.235 -288.377 517.414C-277.064 528.593 -277.064 546.717 -288.377 557.895L-306.493 575.797C-317.806 586.975 -317.806 605.099 -306.493 616.279C-295.18 627.458 -276.837 627.458 -265.524 616.279L25.6761 328.541C36.9891 317.362 36.9891 299.238 25.6761 288.058C14.363 276.88 14.363 258.756 25.6761 247.577L43.7915 229.677C55.1045 218.499 55.1045 200.375 43.7915 189.195C32.4784 178.016 32.4784 159.892 43.7915 148.714L130.146 63.3857C141.459 52.2071 141.459 34.0831 130.146 22.9045C118.833 11.726 100.491 11.726 89.1766 22.9045L40.7181 70.7871C29.405 81.9656 11.063 81.9656 -0.251249 70.7871C-11.5643 59.6085 -29.9063 59.6085 -41.2205 70.7871L-104.401 133.216C-115.714 144.395 -134.056 144.395 -145.37 133.216C-156.683 122.038 -156.683 103.914 -145.37 92.734L-120.085 67.749C-108.772 56.5705 -108.772 38.4465 -120.085 27.2668C-131.398 16.0882 -131.398 -2.03585 -120.085 -13.2155L-68.5538 -64.1338C-57.2408 -75.3123 -57.2408 -93.4364 -68.5538 -104.616C-79.8669 -115.795 -98.2089 -115.795 -109.522 -104.616L-161.053 -53.6979C-172.366 -42.5193 -190.708 -42.5193 -202.022 -53.6979C-213.335 -64.8764 -231.677 -64.8764 -242.99 -53.6979L-534.19 234.042C-545.503 245.22 -545.503 263.344 -534.19 274.523C-522.877 285.701 -504.535 285.701 -493.222 274.523L-441.691 223.605C-430.378 212.426 -412.036 212.426 -400.722 223.605C-389.409 234.783 -389.409 252.907 -400.722 264.087L-452.253 315.005C-463.566 326.184 -463.566 344.308 -452.253 355.487C-440.94 366.666 -440.94 384.79 -452.253 395.969L-477.538 420.953C-488.851 432.132 -488.851 450.256 -477.538 461.436C-466.225 472.614 -447.883 472.614 -436.57 461.436L-373.389 399.005C-362.076 387.827 -343.733 387.827 -332.42 399.005C-321.107 410.184 -302.765 410.184 -291.452 399.005L-242.994 351.123C-231.677 339.943 -213.335 339.943 -202.022 351.123Z"
            fill="url(#paint1_linear_56_3)"></path>
        <defs>
            <linearGradient
                id="paint0_linear_56_3"
                x1="-414.286"
                y1="362.176"
                x2="353.315"
                y2="362.176"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#3A0BC7"></stop>
                <stop offset="1" stop-color="#F190FC"></stop>
            </linearGradient>
            <linearGradient
                id="paint1_linear_56_3"
                x1="-542.675"
                y1="255.832"
                x2="138.631"
                y2="255.832"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#4B4BFA"></stop>
                <stop offset="1" stop-color="#F190FC"></stop>
            </linearGradient>
        </defs></svg
    >
    <svg
        width="582"
        height="443"
        viewBox="0 0 582 443"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute right-0 top-0 h-1/2 w-1/3">
        <path
            d="M888.242 -9.9618L887.74 -10.4577C876.308 -21.7516 857.774 -21.7505 846.343 -10.4554L841.429 -5.59959C829.997 5.69551 811.464 5.69665 800.032 -5.59731L799.53 -6.09318C788.097 -17.3871 769.563 -17.386 758.132 -6.09089L713.814 37.7002C702.244 49.1324 683.486 49.1324 671.916 37.7002C660.346 26.268 660.346 7.73264 671.916 -3.69956L737.416 -68.4208C748.847 -79.7159 748.847 -98.0296 737.415 -109.324L736.913 -109.819C725.481 -121.114 706.947 -121.113 695.516 -109.818L551.37 32.6125C539.801 44.0447 521.042 44.0447 509.472 32.6125C497.903 21.1803 497.903 2.64493 509.472 -8.78727L653.617 -151.218C665.048 -162.513 665.048 -180.827 653.617 -192.122L653.115 -192.618C641.683 -203.913 623.149 -203.912 611.718 -192.617L281.785 133.397C270.215 144.829 270.215 163.364 281.785 174.796C293.355 186.229 293.355 204.764 281.785 216.196L137.89 358.379C126.321 369.811 126.321 388.346 137.89 399.779C149.46 411.211 168.219 411.211 179.788 399.779L323.683 257.595C335.252 246.163 354.011 246.163 365.58 257.595C377.15 269.027 377.15 287.562 365.58 298.995L300.333 363.467C288.763 374.899 288.763 393.434 300.333 404.866C311.902 416.299 330.661 416.299 342.231 404.866L386.301 361.32C397.871 349.888 416.629 349.888 428.199 361.32C439.768 372.752 458.527 372.752 470.097 361.32L474.514 356.955C486.083 345.523 504.842 345.523 516.411 356.955C527.981 368.388 546.739 368.388 558.309 356.955L888.246 30.9421C899.673 19.647 899.673 1.3333 888.242 -9.9618Z"
            fill="url(#paint0_linear_54_13)"></path>
        <path
            d="M341.478 95.1229C352.791 106.301 352.791 124.425 341.478 135.605L255.123 220.932C243.81 232.11 243.81 250.235 255.123 261.414C266.436 272.593 266.436 290.717 255.123 301.895L237.007 319.797C225.694 330.975 225.694 349.099 237.007 360.279C248.32 371.458 266.663 371.458 277.976 360.279L569.176 72.5406C580.489 61.3621 580.489 43.2381 569.176 32.0584C557.863 20.8798 557.863 2.75577 569.176 -8.42279L587.291 -26.3229C598.605 -37.5014 598.605 -55.6255 587.291 -66.8052C575.978 -77.9837 575.978 -96.1078 587.291 -107.286L673.646 -192.614C684.959 -203.793 684.959 -221.917 673.646 -233.095C662.333 -244.274 643.991 -244.274 632.677 -233.095L584.218 -185.213C572.905 -174.034 554.563 -174.034 543.249 -185.213C531.936 -196.392 513.594 -196.392 502.279 -185.213L439.099 -122.784C427.786 -111.605 409.444 -111.605 398.13 -122.784C386.817 -133.962 386.817 -152.086 398.13 -163.266L423.415 -188.251C434.728 -199.43 434.728 -217.554 423.415 -228.733C412.102 -239.912 412.102 -258.036 423.415 -269.216L474.946 -320.134C486.259 -331.312 486.259 -349.436 474.946 -360.616C463.633 -371.795 445.291 -371.795 433.978 -360.616L382.447 -309.698C371.134 -298.519 352.792 -298.519 341.478 -309.698C330.165 -320.876 311.823 -320.876 300.51 -309.698L9.30986 -21.9584C-2.00319 -10.7799 -2.00319 7.34417 9.30986 18.5227C20.6229 29.7013 38.965 29.7013 50.278 18.5227L101.809 -32.3955C113.122 -43.574 131.464 -43.574 142.778 -32.3955C154.091 -21.2169 154.091 -3.09289 142.778 8.08682L91.2473 59.005C79.9343 70.1836 79.9343 88.3076 91.2473 99.4874C102.56 110.666 102.56 128.79 91.2473 139.969L65.9618 164.953C54.6487 176.132 54.6487 194.256 65.9618 205.436C77.2748 216.614 95.6169 216.614 106.93 205.436L170.111 143.005C181.424 131.827 199.767 131.827 211.08 143.005C222.393 154.184 240.735 154.184 252.048 143.005L300.506 95.1229C311.823 83.9432 330.165 83.9432 341.478 95.1229Z"
            fill="url(#paint1_linear_54_13)"></path>
        <path
            d="M489.97 442.714C506.332 442.714 519.596 429.608 519.596 413.44C519.596 397.272 506.332 384.166 489.97 384.166C473.608 384.166 460.344 397.272 460.344 413.44C460.344 429.608 473.608 442.714 489.97 442.714Z"
            fill="url(#paint2_linear_54_13)"></path>
        <path
            d="M39.4611 270.805C55.8232 270.805 69.0872 257.698 69.0872 241.531C69.0872 225.363 55.8232 212.257 39.4611 212.257C23.099 212.257 9.83484 225.363 9.83484 241.531C9.83484 257.698 23.099 270.805 39.4611 270.805Z"
            fill="url(#paint3_linear_54_13)"></path>
        <defs>
            <linearGradient
                id="paint0_linear_54_13"
                x1="129.214"
                y1="106.176"
                x2="896.815"
                y2="106.176"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#3A0BC7"></stop>
                <stop offset="1" stop-color="#F190FC"></stop>
            </linearGradient>
            <linearGradient
                id="paint1_linear_54_13"
                x1="0.825189"
                y1="-0.16811"
                x2="682.131"
                y2="-0.16811"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#4B4BFA"></stop>
                <stop offset="1" stop-color="#F190FC"></stop>
            </linearGradient>
            <linearGradient
                id="paint2_linear_54_13"
                x1="460.344"
                y1="413.44"
                x2="519.596"
                y2="413.44"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#764BFA"></stop>
                <stop offset="1" stop-color="#F190FC"></stop>
            </linearGradient>
            <linearGradient
                id="paint3_linear_54_13"
                x1="9.83507"
                y1="241.531"
                x2="69.0871"
                y2="241.531"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#4B4BFA"></stop>
                <stop offset="1" stop-color="#F190FC"></stop>
            </linearGradient>
        </defs>
    </svg>

    <section class="flex h-screen">
        <main
            class="mx-auto my-auto w-full animate-fade-in-down [animation-timeline:view()] supports-no-scroll-driven-animations:animate-none">
            <header class="mx-auto w-[550px] animate-slide-in-blurred-bottom-0">
                <h1
                    class="super-vibes inline-block h-[65px] bg-gradient-to-tr from-primary to-primary bg-clip-text text-6xl text-transparent">
                    Hi! My name is
                </h1>

                <h1
                    class="super-vibes inline-block bg-gradient-to-b from-accent to-contrastAccent bg-clip-text text-6xl text-transparent">
                    Varoxolotl
                </h1>
            </header>

            <footer
                class="max-w-7x1 mx-auto w-[550px] animate-slide-in-blurred-bottom-1">
                <h2
                    class="relative h-[50px] overflow-hidden whitespace-nowrap text-3xl font-[100px] leading-[1.5]">
                    <div
                        class="super-vibes absolute block animate-openclose overflow-hidden pl-[0.5rem] italic text-secondary">
                        <div
                            class="after:bg-Byzantine after:ml-1 after:inline-block after:h-[23px] after:w-[5px] after:animate-cursor-blink after:rounded-xl">
                            Full-Stack Developer
                        </div>
                        <div
                            class="after:bg-Byzantine after:ml-1 after:inline-block after:h-[23px] after:w-[5px] after:animate-cursor-blink after:rounded-xl">
                            Game Developer
                        </div>
                        <div
                            class="after:bg-Byzantine after:ml-1 after:inline-block after:h-[23px] after:w-[5px] after:animate-cursor-blink after:rounded-xl">
                            Tech Enthusiast
                        </div>
                    </div>
                </h2>
            </footer>
        </main>
    </section>

    <svg

        viewBox="0 0 691 1537"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute right-[5%] top-[65%] w-1/2">
        <path
            d="M71.2879 1926.5C72.3871 1911.03 83.3184 1854 84.4177 1830C85.5169 1806 91.2534 1776.1 90.5002 1761.5C89.747 1746.9 93.8793 1719.27 90.5002 1705C87.121 1690.73 89.8121 1677.27 84.4177 1663C79.0233 1648.73 78 1629.41 71.2879 1619C62.0461 1604.67 53.4283 1592.73 42.0002 1583C28.5 1571.5 19 1564 12.5002 1540C7.75843 1522.49 6.53493 1497.98 42.0002 1478C77.5002 1458 78.4696 1460.74 107.5 1446C140 1429.5 175 1403 162 1364C154.717 1342.15 139 1325.5 114.5 1279.5C86.0056 1226 84.4962 1229.06 70.5002 1202C56.5042 1174.94 35.9319 1140.98 43.0481 1096.94C49.5002 1057 106 1057 127 1024.5C140.625 1003.41 139.5 958 127 932C111.187 899.108 98.6679 876.218 81.8592 845.485L80.5003 843C60.5375 806.496 45.1167 782.781 51.181 738.281C56.1933 701.5 104.594 655 110.822 620.5C115.425 595 110.727 561.816 88.6865 530.5C82.0002 521 54.6333 465 47.9279 439.652C39.825 409.021 40.6225 400.629 41.9638 379.126C43.3051 357.623 44.3429 351.658 54.6334 332.138L54.923 331.588C62.3777 317.443 73.6207 296.109 93.4161 281.521C108.5 270.406 121.599 262.904 154.901 258.25C182 254.462 216.001 252.247 259.923 258.25C302 264 337.999 262.111 376.494 253.072C398.5 247.904 421.992 240.021 433 212.5C443 187.5 426.76 169.46 438.5 146.5C461 102.5 453.5 78.9051 453.5 67"
            stroke="url(#paint0_linear_54_55)"
            stroke-width="20"
            stroke-linecap="round"
            class="path animate-timeline [animation-timeline:view()]  supports-no-scroll-driven-animations:animate-none"
            pathLength="1"/>
        <path
            d="M499.229 20.5681C509.695 27.7403 518.833 35.9751 525.049 46.0694C531.265 56.2168 534.452 68.2237 534.24 80.1243C534.027 92.078 530.309 103.819 524.146 114.02C518.036 124.22 509.376 132.88 499.176 139.521C488.975 146.215 477.234 150.997 464.696 152.272C452.158 153.6 438.876 151.422 428.835 144.674C418.74 137.927 411.887 126.558 405.511 115.029C399.136 103.554 393.239 91.9186 392.176 79.6993C391.114 67.4268 394.939 54.623 401.474 43.413C408.062 32.2031 417.359 22.6401 428.463 15.8928C439.566 9.0925 452.529 5.10791 464.802 6.17047C477.128 7.28615 488.816 13.3958 499.229 20.5681Z"
            fill="url(#paint1_linear_54_55)"></path>
        <path
            d="M570.006 7.19385C571.18 7.19385 572.718 7.48438 574.62 8.06543C574.848 8.13379 575.031 8.16797 575.167 8.16797C575.281 8.16797 575.623 8.06543 576.193 7.86035C576.375 7.79199 576.569 7.75781 576.774 7.75781C577.537 7.75781 578.34 8.36165 579.183 9.56934C580.038 10.777 580.465 11.9277 580.465 13.0215C580.465 13.6595 580.271 14.2007 579.884 14.645C579.508 15.078 579.047 15.2944 578.5 15.2944C578.044 15.2944 577.674 15.2033 577.389 15.021C577.104 14.8387 576.477 14.2975 575.509 13.3975C574.142 12.1214 572.797 11.4834 571.476 11.4834C570.838 11.4834 570.325 11.6372 569.938 11.9448C569.562 12.2524 569.374 12.6569 569.374 13.1582C569.374 14.1494 570.245 14.8957 571.989 15.397C574.347 16.092 575.857 16.599 576.517 16.918C579.423 18.3307 580.875 20.41 580.875 23.1558C580.875 25.5825 579.884 27.5649 577.902 29.103C575.874 30.6753 573.225 31.4614 569.955 31.4614C568.497 31.4614 566.958 31.2905 565.341 30.9487C563.723 30.5955 562.555 30.1854 561.837 29.7183C561.29 29.3537 560.795 28.5618 560.35 27.3428C559.917 26.1123 559.701 24.916 559.701 23.7539C559.701 23.1956 559.815 22.7741 560.043 22.4893C560.328 22.1247 560.686 21.9424 561.119 21.9424C561.552 21.9424 561.968 22.1646 562.367 22.6089C562.606 22.8595 563.17 23.6628 564.059 25.0186C564.48 25.6566 565.147 26.1864 566.058 26.6079C566.981 27.0295 567.933 27.2402 568.912 27.2402C569.755 27.2402 570.439 27.0864 570.963 26.7788C571.487 26.4598 571.749 26.0553 571.749 25.5654C571.749 25.1097 571.544 24.7166 571.134 24.3862C570.724 24.0558 570.057 23.7482 569.135 23.4634C567.505 22.9507 566.263 22.4836 565.409 22.062C564.554 21.6291 563.757 21.0879 563.016 20.4385C561.216 18.8434 560.316 17.0319 560.316 15.0039C560.316 14.0013 560.55 13.0272 561.017 12.0815C561.484 11.1245 562.145 10.2985 562.999 9.60352C564.913 7.99707 567.249 7.19385 570.006 7.19385ZM592.36 18.4561V24.2324C592.36 24.916 592.525 25.4743 592.855 25.9072C593.197 26.3402 593.63 26.5566 594.154 26.5566C594.598 26.5566 595.185 26.3516 595.914 25.9414C596.085 25.8389 596.256 25.7876 596.427 25.7876C596.7 25.7876 596.951 25.9528 597.179 26.2832C597.407 26.6136 597.521 26.9725 597.521 27.3599C597.521 28.0662 597.133 28.7441 596.359 29.3936C594.741 30.7721 592.781 31.4614 590.48 31.4614C588.657 31.4614 587.193 30.9487 586.088 29.9233C584.983 28.8866 584.43 27.5251 584.43 25.8389V17.9434C584.43 17.6813 584.396 17.5218 584.327 17.4648C584.27 17.3965 584.111 17.3623 583.849 17.3623H582.089C581.758 17.3623 581.547 17.311 581.456 17.2085C581.365 17.0946 581.32 16.8382 581.32 16.4395V15.6875C581.331 15.3457 581.462 15.0951 581.713 14.9355L589.54 10.0137C589.733 9.91113 589.973 9.85986 590.258 9.85986L591.642 9.85986C591.927 9.85986 592.115 9.92822 592.206 10.0649C592.308 10.1903 592.36 10.4466 592.36 10.834V13.1411C592.36 13.4829 592.411 13.7051 592.513 13.8076C592.627 13.9102 592.861 13.9614 593.214 13.9614H596.376C596.797 13.9614 597.071 14.0412 597.196 14.2007C597.321 14.3488 597.384 14.6735 597.384 15.1748V16.1831C597.384 16.73 597.304 17.1117 597.145 17.3281C596.985 17.5332 596.695 17.6357 596.273 17.6357H593.18C592.861 17.6357 592.644 17.6927 592.531 17.8066C592.417 17.9206 592.36 18.137 592.36 18.4561ZM608.373 13.9614C610.355 13.9614 612.036 14.4627 613.414 15.4653C614.143 16.0008 614.65 16.616 614.935 17.311C615.232 17.9946 615.38 18.9403 615.38 20.1479L615.345 22.6943C615.345 24.4603 615.471 25.6053 615.721 26.1294C615.847 26.38 615.966 26.5396 616.08 26.6079C616.194 26.6763 616.434 26.7389 616.798 26.7959C617.163 26.8529 617.345 27.0921 617.345 27.5137C617.345 28.0605 617.123 28.6302 616.678 29.2227C616.246 29.8151 615.682 30.3107 614.987 30.7095C614.132 31.2108 613.238 31.4614 612.303 31.4614C611.107 31.4614 610.162 31.0513 609.467 30.231C609.227 29.9347 609.005 29.7866 608.8 29.7866C608.572 29.7866 608.27 29.929 607.894 30.2139C606.755 31.0456 605.462 31.4614 604.015 31.4614C602.522 31.4614 601.315 31.1424 600.392 30.5044C599.788 30.0828 599.309 29.536 598.956 28.8638C598.603 28.1802 598.427 27.4681 598.427 26.7275C598.427 25.5426 598.905 24.4945 599.862 23.583C601.355 22.1475 603.588 21.424 606.561 21.4126C607.222 21.4126 607.638 21.3499 607.809 21.2246C607.98 21.0879 608.065 20.7803 608.065 20.3018C608.065 19.0941 607.94 18.2225 607.689 17.687C607.439 17.1401 607.028 16.8667 606.459 16.8667C606.117 16.8667 605.809 16.9692 605.536 17.1743C605.274 17.3794 604.943 17.7554 604.545 18.3022C603.531 19.7492 602.471 20.4727 601.366 20.4727C600.808 20.4727 600.352 20.3075 599.999 19.9771C599.646 19.6466 599.469 19.2137 599.469 18.6782C599.469 18.1313 599.685 17.5845 600.118 17.0376C600.563 16.4907 601.161 16.0122 601.913 15.6021C603.975 14.5083 606.128 13.9614 608.373 13.9614ZM607.228 23.8564C606.726 23.8564 606.288 24.0615 605.912 24.4717C605.547 24.8818 605.365 25.3717 605.365 25.9414C605.365 26.4883 605.496 26.9326 605.758 27.2744C606.02 27.6048 606.368 27.77 606.801 27.77C607.712 27.77 608.168 27.001 608.168 25.4629C608.168 24.8363 608.099 24.4147 607.963 24.1982C607.837 23.9818 607.592 23.8678 607.228 23.8564ZM626.454 14.0811C627.058 14.0811 627.422 14.1665 627.548 14.3374C627.684 14.5083 627.804 15.0552 627.906 15.978C627.963 16.4793 628.14 16.73 628.436 16.73C628.664 16.73 628.881 16.5648 629.086 16.2344C629.997 14.8102 631.188 14.0981 632.657 14.0981C633.694 14.0981 634.543 14.4342 635.204 15.1064C635.523 15.4368 635.785 15.8641 635.99 16.3882C636.195 16.9009 636.298 17.3965 636.298 17.875C636.298 18.4105 636.172 18.9631 635.922 19.5327C635.671 20.091 635.346 20.5524 634.948 20.917C634.218 21.612 633.324 21.9595 632.264 21.9595C631.683 21.9595 631.193 21.8569 630.795 21.6519C630.407 21.4468 629.895 21.0309 629.257 20.4043C629.017 20.165 628.795 20.0454 628.59 20.0454C628.271 20.0454 628.06 20.2277 627.958 20.5923C627.867 20.9455 627.821 21.6974 627.821 22.8481C627.821 24.5685 627.884 25.742 628.009 26.3687C628.089 26.7104 628.197 26.9497 628.334 27.0864C628.482 27.2118 628.789 27.3428 629.257 27.4795C630.282 27.7871 630.795 28.3226 630.795 29.0859C630.795 29.5531 630.629 29.9632 630.299 30.3164C629.969 30.6582 629.53 30.8861 628.983 31C627.889 31.2279 626.283 31.3418 624.164 31.3418C622.147 31.3418 620.615 31.1652 619.567 30.812C618.632 30.493 618.165 29.9404 618.165 29.1543C618.165 28.5618 618.507 28.0321 619.191 27.5649C619.521 27.3485 619.749 27.1548 619.874 26.9839C620 26.8016 620.085 26.5566 620.131 26.249C620.313 25.2122 620.404 23.2925 620.404 20.4897C620.404 19.9771 620.347 19.6125 620.233 19.396C620.119 19.1681 619.891 18.9858 619.55 18.8491C618.741 18.5301 618.336 18.0687 618.336 17.4648C618.336 16.918 618.615 16.4508 619.174 16.0635C619.732 15.6647 620.666 15.2716 621.976 14.8843C623.731 14.3602 625.223 14.0924 626.454 14.0811ZM647.867 18.4561V24.2324C647.867 24.916 648.033 25.4743 648.363 25.9072C648.705 26.3402 649.138 26.5566 649.662 26.5566C650.106 26.5566 650.693 26.3516 651.422 25.9414C651.593 25.8389 651.764 25.7876 651.935 25.7876C652.208 25.7876 652.459 25.9528 652.687 26.2832C652.915 26.6136 653.029 26.9725 653.029 27.3599C653.029 28.0662 652.641 28.7441 651.866 29.3936C650.249 30.7721 648.289 31.4614 645.988 31.4614C644.165 31.4614 642.701 30.9487 641.595 29.9233C640.49 28.8866 639.938 27.5251 639.938 25.8389V17.9434C639.938 17.6813 639.904 17.5218 639.835 17.4648C639.778 17.3965 639.619 17.3623 639.357 17.3623H637.596C637.266 17.3623 637.055 17.311 636.964 17.2085C636.873 17.0946 636.827 16.8382 636.827 16.4395V15.6875C636.839 15.3457 636.97 15.0951 637.22 14.9355L645.048 10.0137C645.241 9.91113 645.481 9.85986 645.765 9.85986H647.15C647.434 9.85986 647.622 9.92822 647.714 10.0649C647.816 10.1903 647.867 10.4466 647.867 10.834V13.1411C647.867 13.4829 647.919 13.7051 648.021 13.8076C648.135 13.9102 648.369 13.9614 648.722 13.9614H651.884C652.305 13.9614 652.579 14.0412 652.704 14.2007C652.829 14.3488 652.892 14.6735 652.892 15.1748V16.1831C652.892 16.73 652.812 17.1117 652.653 17.3281C652.493 17.5332 652.203 17.6357 651.781 17.6357H648.688C648.369 17.6357 648.152 17.6927 648.038 17.8066C647.924 17.9206 647.867 18.137 647.867 18.4561ZM655.216 28.8638L661.385 14.7988C661.545 14.4001 661.699 14.007 661.847 13.6196C661.949 13.3576 662.058 13.0898 662.172 12.8164C662.274 12.5544 662.536 11.9163 662.958 10.9023C663.311 10.0592 663.579 9.38704 663.761 8.88574C663.977 8.25911 664.205 7.84326 664.445 7.63818C664.695 7.42171 665.071 7.31348 665.573 7.31348C667.464 7.31348 668.409 7.76351 668.409 8.66357C668.409 9.05094 668.267 9.51237 667.982 10.0479C666.661 12.6113 665.675 14.6507 665.026 16.166L658.873 30.1797C658.019 32.1051 657.455 33.4438 657.181 34.1958C656.6 35.7339 656.196 36.6624 655.968 36.9814C655.638 37.4258 655.159 37.6479 654.532 37.6479C653.781 37.6479 653.142 37.5055 652.618 37.2207C652.094 36.9359 651.832 36.5941 651.832 36.1953C651.832 35.9333 651.884 35.6826 651.986 35.4434C652.077 35.2155 652.425 34.5205 653.029 33.3584C654.008 31.4671 654.738 29.9689 655.216 28.8638ZM670.939 31.0342V23.4292L678.031 19.1055L670.99 14.7817L670.939 7.22803L686.115 15.9609V22.3184L670.939 31.0342Z"
            fill="#3C0CC7"></path>
        <defs>
            <linearGradient
                id="paint0_linear_54_55"
                x1="290.196"
                y1="1247.5"
                x2="266.313"
                y2="86.9091"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#F190FC"></stop>
                <stop offset="1" stop-color="#A155E4"></stop>
            </linearGradient>
            <linearGradient
                id="paint1_linear_54_55"
                x1="463.125"
                y1="6"
                x2="463.125"
                y2="152.642"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#6228D3"></stop>
                <stop offset="1" stop-color="#A155E4"></stop>
            </linearGradient>
        </defs>
    </svg>

    <section class="flex h-screen">
        <main class="flex h-screen w-full">
            <div class="ml-20 mt-10 h-full w-1/2 flex-row flex-wrap">
                <Card
                    title="Remote Work"
                    description="Web based game made in Godot Engine that started as a prototype to learn the engine.">
                    <div class="gif-animation z-40 ml-8 h-full w-[40%]">
                        <Image
                            src="/src/assets/remote_work_anim_0.png"
                            alt="Cover for Remote Work project"
                            width="192"
                            height="192"
                            class="h-[51%] duration-[1.5s] group-hover:scale-110 group-hover:opacity-0 group-hover:duration-[1.5s]"
                        />
                        <Image
                            src="/src/assets/remote_work_anim.webp"
                            alt="Animated cover for Remote Work project"
                            width="192"
                            height="192"
                            class="h-[51%] opacity-0 duration-[1.5s] group-hover:scale-110 group-hover:opacity-100 group-hover:duration-[1.5s]"
                        />
                    </div>
                </Card>
                <Card
                    title="Pseudoku green city"
                    description="First game project finished. Winner of the first edition of the JamToday Córdoba. ">
                    <div class="gif-animation z-40 ml-8 h-full w-[40%]">
                        <Image
                            src="/src/assets/Pseudoku-green-city-removebg-preview.png"
                            alt="Cover for Remote Work project"
                            width="192"
                            height="192"
                            class="h-[51%] duration-[1.5s] group-hover:scale-110 group-hover:opacity-0 group-hover:duration-[1.5s]"
                        />
                        <Image
                            src="/src/assets/Pseudoku-green-city-removebg-preview.png"
                            alt="Animated cover for Remote Work project"
                            width="192"
                            height="192"
                            class="h-[51%] opacity-0 duration-[1.5s] group-hover:scale-110 group-hover:opacity-100 group-hover:duration-[1.5s]"
                        />
                    </div>
                </Card>
            </div>
            <div class="ml-44 mt-10 flex h-full w-1/2 items-center">
                <Card
                    title="Code Game"
                    description="Web based game in Unity made as final project for higher school">
                    <div class="gif-animation z-40 ml-8 h-full w-[40%]">
                        <Image
                            src="/src/assets/code-game.png"
                            alt="Cover for Remote Work project"
                            width="192"
                            height="192"
                            class="h-[51%] duration-[1.5s] group-hover:scale-110 group-hover:opacity-0 group-hover:duration-[1.5s]"
                        />
                        <Image
                            src="/src/assets/code-game.png"
                            alt="Animated cover for Remote Work project"
                            width="192"
                            height="192"
                            class="h-[51%] opacity-0 duration-[1.5s] group-hover:scale-110 group-hover:opacity-100 group-hover:duration-[1.5s]"
                        />
                    </div>
                </Card>
            </div>
        </main>
    </section>

    <div class="absolute w-full">
        <svg
            width="1461"
            height="696"
            viewBox="0 0 1461 696"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="h-full w-full">
            <g clip-path="url(#clip0_58_53)">
                <path
                    d="M0 410.64L34.9017 419.688C69.8033 428.852 139.607 446.948 209.085 464.58C278.726 482.212 347.88 499.148 417.521 496.48C487 493.812 556.803 471.308 626.282 454.952C695.923 438.48 765.077 428.04 834.718 438.132C904.197 448.108 974 478.732 1043.48 478.268C1113.12 477.92 1182.27 446.6 1251.91 440.568C1321.39 434.652 1391.2 453.908 1426.1 463.652L1461 473.28V697.16H1426.1C1391.2 697.16 1321.39 697.16 1251.91 697.16C1182.27 697.16 1113.12 697.16 1043.48 697.16C974 697.16 904.197 697.16 834.718 697.16C765.077 697.16 695.923 697.16 626.282 697.16C556.803 697.16 487 697.16 417.521 697.16C347.88 697.16 278.726 697.16 209.085 697.16C139.607 697.16 69.8033 697.16 34.9017 697.16H0V410.64Z"
                    fill="#F190FC"></path>
                <path
                    d="M0 502.28L34.9017 495.552C69.8033 488.708 139.607 475.252 209.085 477.572C278.726 479.892 347.88 497.988 417.521 509.588C487 521.188 556.803 526.292 626.282 533.02C695.923 539.748 765.077 548.332 834.718 547.288C904.197 546.36 974 535.92 1043.48 521.652C1113.12 507.268 1182.27 489.172 1251.91 481.4C1321.39 473.628 1391.2 476.412 1426.1 477.688L1461 479.08V697.16H1426.1C1391.2 697.16 1321.39 697.16 1251.91 697.16C1182.27 697.16 1113.12 697.16 1043.48 697.16C974 697.16 904.197 697.16 834.718 697.16C765.077 697.16 695.923 697.16 626.282 697.16C556.803 697.16 487 697.16 417.521 697.16C347.88 697.16 278.726 697.16 209.085 697.16C139.607 697.16 69.8033 697.16 34.9017 697.16H0V502.28Z"
                    fill="#DF80F5"></path>
                <path
                    d="M0 578.84L34.9017 574.78C69.8033 570.72 139.607 562.6 209.085 563.412C278.726 564.108 347.88 573.852 417.521 575.128C487 576.52 556.803 569.56 626.282 561.44C695.923 553.32 765.077 544.04 834.718 537.66C904.197 531.28 974 527.8 1043.48 530.352C1113.12 532.788 1182.27 541.372 1251.91 539.168C1321.39 537.08 1391.2 524.32 1426.1 517.94L1461 511.56V697.16H1426.1C1391.2 697.16 1321.39 697.16 1251.91 697.16C1182.27 697.16 1113.12 697.16 1043.48 697.16C974 697.16 904.197 697.16 834.718 697.16C765.077 697.16 695.923 697.16 626.282 697.16C556.803 697.16 487 697.16 417.521 697.16C347.88 697.16 278.726 697.16 209.085 697.16C139.607 697.16 69.8033 697.16 34.9017 697.16H0V578.84Z"
                    fill="#CC71EF"></path>
                <path
                    d="M0 567.24L34.9017 576.288C69.8033 585.452 139.607 603.548 209.085 611.088C278.726 618.628 347.88 615.612 417.521 614.22C487 612.828 556.803 613.292 626.282 607.608C695.923 602.04 765.077 590.44 834.718 583.712C904.197 576.868 974 575.012 1043.48 582.9C1113.12 590.788 1182.27 608.652 1251.91 617.12C1321.39 625.588 1391.2 624.892 1426.1 624.428L1461 624.08V697.16H1426.1C1391.2 697.16 1321.39 697.16 1251.91 697.16C1182.27 697.16 1113.12 697.16 1043.48 697.16C974 697.16 904.197 697.16 834.718 697.16C765.077 697.16 695.923 697.16 626.282 697.16C556.803 697.16 487 697.16 417.521 697.16C347.88 697.16 278.726 697.16 209.085 697.16C139.607 697.16 69.8033 697.16 34.9017 697.16H0V567.24Z"
                    fill="#B763E9"></path>
                <path
                    d="M0 664.68L34.9017 659.228C69.8033 653.892 139.607 642.988 209.085 639.508C278.726 636.028 347.88 639.972 417.521 645.192C487 650.412 556.803 656.908 626.282 656.328C695.923 655.748 765.077 648.092 834.718 641.712C904.197 635.332 974 630.228 1043.48 630.692C1113.12 631.04 1182.27 636.84 1251.91 640.668C1321.39 644.612 1391.2 646.468 1426.1 647.512L1461 648.44V697.16H1426.1C1391.2 697.16 1321.39 697.16 1251.91 697.16C1182.27 697.16 1113.12 697.16 1043.48 697.16C974 697.16 904.197 697.16 834.718 697.16C765.077 697.16 695.923 697.16 626.282 697.16C556.803 697.16 487 697.16 417.521 697.16C347.88 697.16 278.726 697.16 209.085 697.16C139.607 697.16 69.8033 697.16 34.9017 697.16H0V664.68Z"
                    fill="#A155E4"></path>
            </g>
            <defs>
                <clipPath id="clip0_58_53">
                    <rect width="1461" height="696" fill="white"></rect>
                </clipPath>
            </defs>
        </svg>
    </div>
</Layout>

<style is:global>
    @font-face {
        font-family: 'SuperVibes';
        src: url('fonts/CooperFiveOpti-Black.otf');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'NimbusSans';
        src: url('fonts/NimbusSanL-Reg.otf');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'NimbusSans';
        src: url('fonts/NimbusSanL-Bol.otf');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    .super-vibes {
        font-family: 'SuperVibes', sans-serif;
    }

    .nimbus-sans {
        font-family: 'NimbusSans', sans-serif;
    }

    .clip-circle {
        clip-path: inset(
            0 0 0 round 24px
        ); /* OLD VALUE example: circle(245px, 140px, 50px); */
        /* Yep, even the new clip-path has deprecated stuff. */
    }

    .gif-animation {
        display: grid;
        align-items: center;
    }

    .gif-animation > * {
        grid-row: 1;
        grid-column: 1;
    }

    .path {
        stroke-dasharray: 1;
        stroke-dashoffset: 0;
    }

    html {
    scroll-behavior: smooth;
    }

</style>

<style></style>
