---
import MainLayout from './MainLayout.astro'
import { ViewTransitions } from 'astro:transitions'
import { Image } from 'astro:assets'

interface Props {
    title: string
}

const { frontmatter } = Astro.props

const { title, description, date, category, author, image } = frontmatter
---

<MainLayout {title}>
    <main>
        <svg
            width="354"
            height="699"
            viewBox="0 0 354 699"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="fixed -bottom-[400px] left-0 h-full w-0 opacity-0 xl:w-1/4 xl:opacity-100 2xl:left-[0px] 2xl:w-1/3 2xl:opacity-100">
            <path
                d="M344.742 246.038L344.24 245.542C332.808 234.248 314.274 234.25 302.843 245.545L297.929 250.4C286.497 261.696 267.964 261.697 256.532 250.403L256.03 249.907C244.597 238.613 226.063 238.614 214.632 249.909L170.314 293.7C158.744 305.132 139.986 305.132 128.416 293.7C116.846 282.268 116.846 263.733 128.416 252.3L193.916 187.579C205.347 176.284 205.347 157.97 193.915 146.676L193.413 146.181C181.981 134.886 163.447 134.887 152.016 146.182L7.87034 288.612C-3.6994 300.045 -22.4578 300.045 -34.0275 288.612C-45.5972 277.18 -45.5972 258.645 -34.0275 247.213L110.117 104.782C121.548 93.4869 121.548 75.1732 110.117 63.8781L109.615 63.3823C98.1827 52.0872 79.6487 52.0883 68.2177 63.3834L-261.715 389.397C-273.285 400.829 -273.285 419.364 -261.715 430.796C-250.145 442.229 -250.145 460.764 -261.715 472.196L-405.61 614.379C-417.179 625.811 -417.179 644.346 -405.61 655.779C-394.04 667.211 -375.281 667.211 -363.712 655.779L-219.817 513.595C-208.248 502.163 -189.489 502.163 -177.92 513.595C-166.35 525.027 -166.35 543.562 -177.92 554.995L-243.167 619.467C-254.737 630.899 -254.737 649.434 -243.167 660.866C-231.598 672.299 -212.839 672.299 -201.269 660.866L-157.199 617.32C-145.629 605.888 -126.871 605.888 -115.301 617.32C-103.732 628.752 -84.9731 628.752 -73.4034 617.32L-68.9864 612.955C-57.4167 601.523 -38.6584 601.523 -27.0886 612.955C-15.5189 624.388 3.23942 624.388 14.8092 612.955L344.746 286.942C356.173 275.647 356.173 257.333 344.742 246.038Z"
                fill="url(#paint0_linear_56_3)"></path>
            <path
                d="M-202.022 351.123C-190.709 362.301 -190.709 380.425 -202.022 391.605L-288.377 476.932C-299.69 488.11 -299.69 506.235 -288.377 517.414C-277.064 528.593 -277.064 546.717 -288.377 557.895L-306.493 575.797C-317.806 586.975 -317.806 605.099 -306.493 616.279C-295.18 627.458 -276.837 627.458 -265.524 616.279L25.6761 328.541C36.9891 317.362 36.9891 299.238 25.6761 288.058C14.363 276.88 14.363 258.756 25.6761 247.577L43.7915 229.677C55.1045 218.499 55.1045 200.375 43.7915 189.195C32.4784 178.016 32.4784 159.892 43.7915 148.714L130.146 63.3857C141.459 52.2071 141.459 34.0831 130.146 22.9045C118.833 11.726 100.491 11.726 89.1766 22.9045L40.7181 70.7871C29.405 81.9656 11.063 81.9656 -0.251249 70.7871C-11.5643 59.6085 -29.9063 59.6085 -41.2205 70.7871L-104.401 133.216C-115.714 144.395 -134.056 144.395 -145.37 133.216C-156.683 122.038 -156.683 103.914 -145.37 92.734L-120.085 67.749C-108.772 56.5705 -108.772 38.4465 -120.085 27.2668C-131.398 16.0882 -131.398 -2.03585 -120.085 -13.2155L-68.5538 -64.1338C-57.2408 -75.3123 -57.2408 -93.4364 -68.5538 -104.616C-79.8669 -115.795 -98.2089 -115.795 -109.522 -104.616L-161.053 -53.6979C-172.366 -42.5193 -190.708 -42.5193 -202.022 -53.6979C-213.335 -64.8764 -231.677 -64.8764 -242.99 -53.6979L-534.19 234.042C-545.503 245.22 -545.503 263.344 -534.19 274.523C-522.877 285.701 -504.535 285.701 -493.222 274.523L-441.691 223.605C-430.378 212.426 -412.036 212.426 -400.722 223.605C-389.409 234.783 -389.409 252.907 -400.722 264.087L-452.253 315.005C-463.566 326.184 -463.566 344.308 -452.253 355.487C-440.94 366.666 -440.94 384.79 -452.253 395.969L-477.538 420.953C-488.851 432.132 -488.851 450.256 -477.538 461.436C-466.225 472.614 -447.883 472.614 -436.57 461.436L-373.389 399.005C-362.076 387.827 -343.733 387.827 -332.42 399.005C-321.107 410.184 -302.765 410.184 -291.452 399.005L-242.994 351.123C-231.677 339.943 -213.335 339.943 -202.022 351.123Z"
                fill="url(#paint1_linear_56_3)"></path>
            <defs>
                <linearGradient
                    id="paint0_linear_56_3"
                    x1="-414.286"
                    y1="362.176"
                    x2="353.315"
                    y2="362.176"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#3A0BC7"></stop>
                    <stop offset="1" stop-color="#F190FC"></stop>
                </linearGradient>
                <linearGradient
                    id="paint1_linear_56_3"
                    x1="-542.675"
                    y1="255.832"
                    x2="138.631"
                    y2="255.832"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#4B4BFA"></stop>
                    <stop offset="1" stop-color="#F190FC"></stop>
                </linearGradient>
            </defs></svg
        >
        <svg
            viewBox="0 0 582 443"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="fixed right-0 top-[-50px] -z-10 h-full xl:right-0 xl:top-0 xl:w-1/3 2xl:-top-[400px] 2xl:right-0 2xl:w-1/3">
            <path
                d="M888.242 -9.9618L887.74 -10.4577C876.308 -21.7516 857.774 -21.7505 846.343 -10.4554L841.429 -5.59959C829.997 5.69551 811.464 5.69665 800.032 -5.59731L799.53 -6.09318C788.097 -17.3871 769.563 -17.386 758.132 -6.09089L713.814 37.7002C702.244 49.1324 683.486 49.1324 671.916 37.7002C660.346 26.268 660.346 7.73264 671.916 -3.69956L737.416 -68.4208C748.847 -79.7159 748.847 -98.0296 737.415 -109.324L736.913 -109.819C725.481 -121.114 706.947 -121.113 695.516 -109.818L551.37 32.6125C539.801 44.0447 521.042 44.0447 509.472 32.6125C497.903 21.1803 497.903 2.64493 509.472 -8.78727L653.617 -151.218C665.048 -162.513 665.048 -180.827 653.617 -192.122L653.115 -192.618C641.683 -203.913 623.149 -203.912 611.718 -192.617L281.785 133.397C270.215 144.829 270.215 163.364 281.785 174.796C293.355 186.229 293.355 204.764 281.785 216.196L137.89 358.379C126.321 369.811 126.321 388.346 137.89 399.779C149.46 411.211 168.219 411.211 179.788 399.779L323.683 257.595C335.252 246.163 354.011 246.163 365.58 257.595C377.15 269.027 377.15 287.562 365.58 298.995L300.333 363.467C288.763 374.899 288.763 393.434 300.333 404.866C311.902 416.299 330.661 416.299 342.231 404.866L386.301 361.32C397.871 349.888 416.629 349.888 428.199 361.32C439.768 372.752 458.527 372.752 470.097 361.32L474.514 356.955C486.083 345.523 504.842 345.523 516.411 356.955C527.981 368.388 546.739 368.388 558.309 356.955L888.246 30.9421C899.673 19.647 899.673 1.3333 888.242 -9.9618Z"
                fill="url(#paint0_linear_54_13)"></path>
            <path
                d="M341.478 95.1229C352.791 106.301 352.791 124.425 341.478 135.605L255.123 220.932C243.81 232.11 243.81 250.235 255.123 261.414C266.436 272.593 266.436 290.717 255.123 301.895L237.007 319.797C225.694 330.975 225.694 349.099 237.007 360.279C248.32 371.458 266.663 371.458 277.976 360.279L569.176 72.5406C580.489 61.3621 580.489 43.2381 569.176 32.0584C557.863 20.8798 557.863 2.75577 569.176 -8.42279L587.291 -26.3229C598.605 -37.5014 598.605 -55.6255 587.291 -66.8052C575.978 -77.9837 575.978 -96.1078 587.291 -107.286L673.646 -192.614C684.959 -203.793 684.959 -221.917 673.646 -233.095C662.333 -244.274 643.991 -244.274 632.677 -233.095L584.218 -185.213C572.905 -174.034 554.563 -174.034 543.249 -185.213C531.936 -196.392 513.594 -196.392 502.279 -185.213L439.099 -122.784C427.786 -111.605 409.444 -111.605 398.13 -122.784C386.817 -133.962 386.817 -152.086 398.13 -163.266L423.415 -188.251C434.728 -199.43 434.728 -217.554 423.415 -228.733C412.102 -239.912 412.102 -258.036 423.415 -269.216L474.946 -320.134C486.259 -331.312 486.259 -349.436 474.946 -360.616C463.633 -371.795 445.291 -371.795 433.978 -360.616L382.447 -309.698C371.134 -298.519 352.792 -298.519 341.478 -309.698C330.165 -320.876 311.823 -320.876 300.51 -309.698L9.30986 -21.9584C-2.00319 -10.7799 -2.00319 7.34417 9.30986 18.5227C20.6229 29.7013 38.965 29.7013 50.278 18.5227L101.809 -32.3955C113.122 -43.574 131.464 -43.574 142.778 -32.3955C154.091 -21.2169 154.091 -3.09289 142.778 8.08682L91.2473 59.005C79.9343 70.1836 79.9343 88.3076 91.2473 99.4874C102.56 110.666 102.56 128.79 91.2473 139.969L65.9618 164.953C54.6487 176.132 54.6487 194.256 65.9618 205.436C77.2748 216.614 95.6169 216.614 106.93 205.436L170.111 143.005C181.424 131.827 199.767 131.827 211.08 143.005C222.393 154.184 240.735 154.184 252.048 143.005L300.506 95.1229C311.823 83.9432 330.165 83.9432 341.478 95.1229Z"
                fill="url(#paint1_linear_54_13)"></path>
            <path
                d="M489.97 442.714C506.332 442.714 519.596 429.608 519.596 413.44C519.596 397.272 506.332 384.166 489.97 384.166C473.608 384.166 460.344 397.272 460.344 413.44C460.344 429.608 473.608 442.714 489.97 442.714Z"
                fill="url(#paint2_linear_54_13)"></path>
            <path
                d="M39.4611 270.805C55.8232 270.805 69.0872 257.698 69.0872 241.531C69.0872 225.363 55.8232 212.257 39.4611 212.257C23.099 212.257 9.83484 225.363 9.83484 241.531C9.83484 257.698 23.099 270.805 39.4611 270.805Z"
                fill="url(#paint3_linear_54_13)"></path>
            <defs>
                <linearGradient
                    id="paint0_linear_54_13"
                    x1="129.214"
                    y1="106.176"
                    x2="896.815"
                    y2="106.176"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#3A0BC7"></stop>
                    <stop offset="1" stop-color="#F190FC"></stop>
                </linearGradient>
                <linearGradient
                    id="paint1_linear_54_13"
                    x1="0.825189"
                    y1="-0.16811"
                    x2="682.131"
                    y2="-0.16811"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#4B4BFA"></stop>
                    <stop offset="1" stop-color="#F190FC"></stop>
                </linearGradient>
                <linearGradient
                    id="paint2_linear_54_13"
                    x1="460.344"
                    y1="413.44"
                    x2="519.596"
                    y2="413.44"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#764BFA"></stop>
                    <stop offset="1" stop-color="#F190FC"></stop>
                </linearGradient>
                <linearGradient
                    id="paint3_linear_54_13"
                    x1="9.83507"
                    y1="241.531"
                    x2="69.0871"
                    y2="241.531"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#4B4BFA"></stop>
                    <stop offset="1" stop-color="#F190FC"></stop>
                </linearGradient>
            </defs>
        </svg>

        <div class="mx-auto w-1/2 bg-primary/10 p-16 backdrop-blur-xl">
            <header class="">
                <h1
                    class="super-vibes bg-gradient-to-tr from-primary to-accent bg-clip-text text-6xl text-transparent">
                    {title}
                </h1>
                <img
                    src={`/varoxolotl-portfolio/assets/${image.src}`}
                    alt={image.alt}
                    width="255"
                    height="254"
                    class="mx-auto w-1/2 [image-rendering:pixelated]"
                />
            </header>
            <main class="nimbus-sans text-2xl">
                <slot />
            </main>
        </div>
    </main>
</MainLayout>

<style is:global>
    @font-face {
        font-family: 'SuperVibes';
        src: url('/varoxolotl-portfolio/fonts/CooperFiveOpti-Black.otf');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'NimbusSans';
        src: url('/varoxolotl-portfolio/fonts/NimbusSanL-Reg.otf');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'NimbusSans';
        src: url('/varoxolotl-portfolio/fonts/NimbusSanL-Bol.otf');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    .super-vibes {
        font-family: 'SuperVibes', sans-serif;
    }

    .nimbus-sans {
        font-family: 'NimbusSans', sans-serif;
    }

    .clip-circle {
        clip-path: inset(
            0 0 0 round 24px
        ); /* OLD VALUE example: circle(245px, 140px, 50px); */
        /* Yep, even the new clip-path has deprecated stuff. */
    }

    .gif-animation {
        display: grid;
        align-items: center;
    }

    .gif-animation > * {
        grid-row: 1;
        grid-column: 1;
    }

    .path {
        stroke-dasharray: 1;
        stroke-dashoffset: 0;
    }

    html {
        scroll-behavior: smooth;
    }
</style>
